<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
 <% include ../include/baseLink %>
</head>
<frameset rows="59,*" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="/back/main_top" name="topFrame" noresize="noresize" id="topFrame" scrolling="no"/>
    <frameset cols="213,*" frameborder="no" border="0" framespacing="0" scrolling="yes" >
        <frame src="/back/main_left" name="leftFrame" scrolling="no" scrolling="yes" id="leftFrame"/>
        <frame src="/back/toCusDeal" name="mainFrame" scrolling="yes" scrolling="yes" id="mainFrame"/>
    </frameset>
</frameset>
</html>