<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统</title>
    <meta name="author" content="DeathGhost" />
    <% include ../include/baseLink %>
    <script type="text/javascript">
    </script>
</head>
<body>
<aside class="lt_aside_nav content mCustomScrollbar">
    <h2><a href="/back/include/main_demo.html" target="mainFrame">demo页</a></h2>
    <ul class="sub-menus">
        <li>
            <dl>
                <dt class="subparent">用户信息</dt>
                <!--当前链接则添加class:active-->
                <dd><a href="/back/toCusDeal"  target="mainFrame" class="active">用户列表</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="subparent">创品信息</dt>
                <dd><a href="/back/toProducs"  target="mainFrame">创品列表</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="subparent">文章管理</dt>
                <dd><a href="/back/toArticlePage"  target="mainFrame">文章列表</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="subparent">活动管理</dt>
                <dd><a href="/back/toActivePage" target="mainFrame">活动列表</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="subparent">网站管理</dt>
                <dd><a href="/back/toMangerBanner" target="mainFrame">首页推荐</a></dd>
                <dd><a href="/back/toMangerCate" target="mainFrame">分类/关键字</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="subparent">配送与支付设置</dt>
                <dd><a href="#">配送方式</a></dd>
                <dd><a href="#">支付方式</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="subparent">在线统计</dt>
                <dd><a href="#">流量统计</a></dd>
                <dd><a href="#">销售额统计</a></dd>
            </dl>
        </li>
    </ul>
</aside>
</body>
</html>

