<!DOCTYPE HTML>
<html lang="en" ng-app="myApp">
<style type="text/css">
.waptitle{width:100%;height:45px; line-height: 45px;border-bottom:1px solid #e1e1e1; font-size:14px;font-family: "microsoft yahei"; font-weight: bold;}
.waptitle span{ float: right;padding:3px 15px;display:blcok;border:1px solid #ececec; line-height: 25px;margin-top:6px;cursor: pointer;border-radius:3px;}
.waptitle span:hover{background:#ececec;border:1px solid #e1e1e1;}
.datatable{width:1000px;margin: 0 auto;}
.tle1{margin-top:30px;margin-bottom:30px;;font-size:14px; font-family: "microsoft yahei";height:35px; line-height:35px;border-bottom:1px  dashed #ececec;font-weight: bold;}
.datatable td{padding:6px 0;}
.tname{width:112px; font-size: 12px;}
.tiput input{width:200px;}
.top1{margin-top:5px;}
</style>
<head>
    <meta charset="UTF-8">
    <% include ../include/baseLink %>
    <title>用户信息管理</title>
    <script type="text/javascript" src="/back/dist/product.js"></script>
</head>
<body ng-controller="main">
<div class="rt_content">
    <ts-cuslist ng-if="show.cuslist"></ts-cuslist>
    <ts-cusadd ng-if="show.cusadd"></ts-cusadd>
</div>
<!-- 用户列表页面 -->
<script type="text/ng-template" id="cuslist">
    <div class="page_title">
        <h2 class="fl">创品信息列表</h2>
    </div>
    <section>
        <label>创品名:</label>
        <input type="text" class="textbox textbox_295"  ng-model="search_custom.$$_title" />
        <input type="button" value="查询"  ng-click="search();" class="group_btn"/>
    </section>
    <section>
        <div class="page_title">
            <h2 class="fl">创品信息展示</h2>
            <a class="fr top_rt_btn"  ng-click="changeIntoEdit()">添加创品</a>
        </div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>创品名称</th>
                <th>创品类型</th>
                <th>创品价格</th>
                <th>创品点击率</th>
                <th>创品库存</th>
                <th>创品状态</th>
                <th>所属名人</th>
                <th>首页排序</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="cus in array_custom.$array">
                <td>{{ $index + 1}}</td>
                <td width="12%"  style="cursor: pointer;" 
                    ng-click="changeIntoEdit(cus);">{{ cus.title }}</td>
                <td width="12%">
                    <span ng-repeat="type in cus.type">
                        <span>{{type}}</span>&nbsp;&nbsp;
                    </span>
                </td>
                <td width="8%">{{ cus.price }}</td>
                <td width="8%">{{ cus.attentionno }}</td>
                <td width="8%">{{ cus.kucun }}</td>
                <td width="8%">{{ cus.status ? '上架中':'已下架' }}</td>
                <td width="12%">{{ cus._userName }}</td>
                <td width="8%">{{ cus.topno }}</td>
                <td>
                    <a class="inner_btn"  ng-click="changeIntoEdit(cus);"  href="#">查看</a>
                    <a ng-click="dealProStatus(cus);"
                       ng-class="{true: 'inner_red_btn', false: 'inner_btn'}[!cus.status]"
                       href="#">{{ cus.status ? '下架':'上架' }}</a>
                    <a class="inner_btn"  ng-click="removeCustom(cus);"  href="#">删除</a>
                </td>
            </tr>
        </table>
        <aside class="paging">
            <a ng-show="array_custom.$last"  ng-click="array_custom.$toLast()">上一页</a>
            <!--<a>1</a>-->
            <a>{{ array_custom.$curPage }}/{{ array_custom.$pageCount }}</a>
            <a ng-show="array_custom.$next"  ng-click="array_custom.$toNext()">下一页</a>
            <a>总条数:{{ array_custom.$totalSize }}</a>
        </aside>
    </section>
</script>
<!-- 用户添加编辑页面-->
<script type="text/ng-template" id="cusadd" >
    <div class="page_title top1">
        <h2 class="fl">{{ pojo_custo._id ? '创品编辑' : '创品添加' }}</h2>
        <a class="fr top_rt_btn" ng-click="toPageList();" >返回</a>
    </div>
    <div>
    <h2 class="fl" ng-if="pojo_custo._id">用户数据编辑</h2>
    </div>
    <section>
        <form
            name="subForm"
            ng-submit="saveOrUpdate()"
        >
        <table class="datatable">
            <tr>
                <td colspan="6" style="text-align: left;" class="tle1">创品基本信息</td>
            </tr>
            <tr>
                <td class="tname"><label>创品名称:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.title"  name="t_title"
                           class="textbox" required placeholder="创品名称" /><br/></td>
                <td><span class="errorTips" ng-show="subForm.t_title.$error.required">请输入创品称</span></td>
                <td class="tname"><label>创品价格:</label></td>
                <td class="tiput"><input type="number"  ng-model="pojo_custom.price" name="t_price"
                           class="textbox" required /><br/></td>
                <td><span class="errorTips" ng-show="subForm.t_price.$error.required">请输入价格</span></td>
            </tr>
            <tr>
                <td class="tname"><label>创品人:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom._userName"  name="_userName"
                           class="textbox" required placeholder="创品名称"  ng-click="chooseUser();"
                            /><br/></td>
                <td><span class="errorTips" ng-show="subForm._userName.$error.required">
                            请输入创品人</span></td>
            </tr>
            <tr>
                <td class="tname"><label>创品规格:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.guige"  name="t_guige"
                           class="textbox" required /><br/></td>
                <td><span class="errorTips" ng-show="subForm.t_guige.$error.required">请输入创品规格</span></td>
                <td class="tname"><label>创品类型:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.type"  placeholder="多种类型请用逗号隔开" name="t_type"
                           class="textbox" required /><br/></td>
                <td><span class="errorTips" ng-show="subForm.t_type.$error.required">请输入创品类型</span></td>
            </tr>
            <tr>
                <td class="tname"><label>创品大图:</label></td>
                <td class="tiput"><input type="file" nv-file-select="" uploader="uploader"  name="t_imgBigUrl" /><br/>
                    <img ng-src="{{ pojo_custom.imgBigUrl}}" width="160px" height="140px" ng-if="pojo_custom.imgBigUrl"/>
                <td><span class="errorTips" ng-show="subForm.t_imgBigUrl.$error.required">请输入创品大图</span></td>
                <td class="tname"><label>banner大图:</label></td>
                <td class="tiput"><input type="file" nv-file-select=""  uploader="uploaderBannerurl"  name="t_bannerurl" /><br/>
                    <img ng-src="{{ pojo_custom.bannerurl}}" width="160px" height="140px" ng-if="pojo_custom.bannerurl"/>
                <td><span class="errorTips" ng-show="subForm.t_bannerurl.$error.required">请输入banner大图</span></td>
            </tr>
            <tr>
                <td colspan="1"><label>创品介绍:</label></td>
                <td colspan="5"><textarea class="textarea" style="width:635px;height:100px;" 
                    ng-model="pojo_custom.introduce" name="t_introduce"    required></textarea></td>
            </tr>   
            <tr>
                <td class="tname"><label>首页排序:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.topno" name="t_topno" required 
                           class="textbox" /><br/></td>
                <td><span class="errorTips" ng-show="subForm.t_topno.$error.required">请输入首页排序</span></td>
                <td class="tname"><label>淘宝url:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.taobaoUrl" name="t_taobaoUrl" required 
                           class="textbox" /><br/></td>
                <td><span class="errorTips" ng-show="subForm.t_taobaoUrl.$error.required">请输入淘宝url</span></td>
            </tr>
            <tr>
                <td class="tname"><label>创品状态:</label></td>
                <td>
                    <input type="radio" ng-model="pojo_custom.status" name="t_status" ng-value="true" 
                    required  />上架
                    <input type="radio" ng-model="pojo_custom.status" name="t_status" ng-value="false"
                    required  />下架
                </td>
                <td><span class="errorTips" ng-show="subForm.t_status.$error.required">请输入创品状态</span></td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center;">
                    <input class="link_btn"  type="submit" ng-disabled="subForm.$invalid" value="提交" /></td>
                <td colspan="3" style="text-align: center;">
                    <input class="link_btn" type="button"  ng-click="toPageList();"  value="取消" /></td>
            </tr>
        </table>
        </form>
    </section>
</script>

<!--弹出框效果-->
<script>
    $(document).ready(function(){
        //弹出文本性提示框
        $("#showPopTxt").click(function(){
            $(".pop_bg").fadeIn();
        });
        // //弹出：确认按钮
        // $(".trueBtn").click(function(){
        //     alert("你点击了确认！");//测试
        //     $(".pop_bg").fadeOut();
        // });
        //弹出：取消或关闭按钮
        $(".falseBtn").click(function(){
            $(".pop_bg").fadeOut();
        });
    });
</script>
<section class="pop_bg">
    <div class="pop_cont" style="width: 950px;height: 650px;left: 26%">
        <!--title-->
        <div class="">
        <h3>选定用户<input style="float: right;"  type="button" value="关闭" class="input_btn falseBtn"/></h3>
        </div>
        <!--content-->
        <div class="pop_cont_input">
        <section style="text-align: left;">
            <label style="width: 100px;">用户名:</label>
            <input type="text" class="textbox textbox_295" 
                    style="width: 200px;"
                    ng-change="searchUser();"
                   ng-model="search_user.$$_name" />
           <label>用户类型:</label>
            <select  ng-model="search_user.usertype" 
                     ng-change="searchUser();"
                     ng-options="m.usertype as m.name for m in userPowers">
                <option value="">-- 请选择 --</option>
            </select>
            <input type="button" value="查询"  ng-click="searchUser();" class="group_btn"/>
        </section>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>真实姓名</th>
                <th>性别</th>
                <th>用户身份</th>
                <th>创品数量</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="cus in array_user.$array">
                <td>{{ $index + 1}}</td>
                <td width="20%" ng-click="doChooseUser(cus);" 
                style="cursor: pointer;" >{{ cus.name }}</td>
                <td width="20%" >{{ cus.realName }}</td>
                <td width="7%" >{{ cus.sex ? '女' : '男' }}</td>
                <td width="15%" >
                    <span ng-show="cus.usertype == 1">普通人</span>
                    <span ng-show="cus.usertype == 2">名人</span>
                </td>
                <td width="7%" >{{ cus.productions.length }}</td>
                <td>
                    <a class="inner_btn"  ng-click="doChooseUser(cus);"  href="#">确定</a>
                </td>
            </tr>
            </table>
        </div>
        <aside class="paging">
            <a ng-show="array_user.$last"  ng-click="array_user.$toLast()">上一页</a>
            <!--<a>1</a>-->
            <a>{{ array_user.$curPage }}/{{ array_user.$pageCount }}</a>
            <a ng-show="array_user.$next"  ng-click="array_user.$toNext()">下一页</a>
            <a>总条数:{{ array_user.$totalSize }}</a>
        </aside>
    </div>
</section>


</body>
</html>