<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <% include ../include/baseLink %>
    <title>用户信息管理</title>
    <script type="text/javascript" src="/back/dist/article.js"></script>
</head>
<body ng-controller="main">
<div class="rt_content">
    <ts-cuslist ng-if="show.cuslist"></ts-cuslist>
    <ts-cusadd ng-if="show.cusadd"></ts-cusadd>
</div>
<!-- 用户列表页面 -->
<script type="text/ng-template" id="cuslist">
    <div class="page_title">
        <h2 class="fl">文章信息列表</h2>
    </div>
    <section>
        <label>文章名:</label>
        <input type="text" class="textbox textbox_295"  ng-model="search_custom.name" />
        <input type="button" value="查询"  ng-click="search();" class="group_btn"/>
    </section>
    <section>
        <div class="page_title">
            <h2 class="fl">文章信息展示</h2>
            <a class="fr top_rt_btn"  ng-click="changeIntoEdit()">添加文章</a>
        </div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>文章标题</th>
                <th>文章关键字</th>
                <th>文章作者</th>
                <th>文章状态</th>
                <th>查看次数</th>
                <th>评论次数</th>
                <th>收藏次数</th>
                <th>创建时间</th>
                <th>在首页顺序</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="cus in array_custom.$array">
                <td>{{ $index + 1}}</td>
                <td width="10%"  style="cursor: pointer;" 
                    ng-click="changeIntoEdit(cus);">{{ cus.title }}</td>
                <td width="15%">
                    <span ng-repeat="type in cus.keyword">
                        <span>{{type}}</span>&nbsp;&nbsp;
                    </span>
                </td>
                <td width="10%">{{ cus.authorName }}</td>
                <td width="10%">
                    <span ng-if="cus.status == 0">未通过</span>
                    <span ng-if="cus.status == 1">待审核</span>
                    <span ng-if="cus.status == 2">草稿</span>
                    <span ng-if="cus.status == 3">审核通过</span>
                </td>
                </td>
                <td>{{ cus.checkcounts }}</td>
                <td>{{ cus.comments.length }}</td>
                <td>{{ cus.collections.length }}</td>
                <td width="13%">{{ cus.creatTime |  date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{ cus.topno }}</td>
                <td>
                    <a class="inner_btn"  ng-click="removeCustom(cus);"  href="#">删除</a>
                    <a class="inner_btn"  ng-if="parentShow"   ng-click="parentChoose(cus);"
                       href="#">选定</a>
                </td>
            </tr>
        </table>
        <aside class="paging">
            <a ng-show="array_custom.$last"  ng-click="array_custom.$toLast()">上一页</a>
            <!--<a>1</a>-->
            <a>{{ array_custom.$curPage }}/{{ array_custom.$pageCount }}</a>
            <a ng-show="array_custom.$next"  ng-click="array_custom.$toNext()">下一页</a>
            <a>总条数:{{ array_custom.$totalSize }}</a>
        </aside>
    </section>
</script>
<!-- 用户添加编辑页面-->
<script type="text/ng-template" id="cusadd" >
    <div class="page_title top1">
        <h2 class="fl">{{ pojo_custo._id ? '文章编辑' : '文章添加' }}</h2>
        <a class="fr top_rt_btn" ng-click="toPageList();" >返回</a>
    </div>
    <div>
    <h2 class="fl" ng-if="pojo_custo._id">用户数据编辑</h2>
    </div>
    <section>
        <form
            name="subForm"
            ng-submit="saveOrUpdate()"
        >
        <table class="datatable">
            <tr>
                <td colspan="6" style="text-align: left;" class="tle1">文章基本信息</td>
            </tr>
            <tr>
                <td class="tname"><label>文章名称:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.title"  name="t_title"
                           class="textbox" required placeholder="文章名称" /><br/></td>
                <td class="tip"><span class="errorTips" ng-show="subForm.t_title.$error.required">请输入名称</span></td>
                <td class="tname"><label>文章来源:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.from"  name="t_from"
                           class="textbox" required /><br/></td>
                <td><span class="errorTips" ng-show="subForm.t_from.$error.required">请输入来源</span></td>
            </tr>
            <tr>
                <td class="tname"><label>文章作者:</label></td>
                <td class="tiput"><input type="text"  
                                        ng-model="pojo_custom.authorName"  
                                        name="t_authorName"
                                        ng-click="chooseUser();"
                                        class="textbox" required /><br/></td>
                <td><span class="errorTips" ng-show="subForm.t_authorName.$error.required">请输入作者</span></td>
                <td><label>文章状态:</label></td>
                <td><select ng-model="pojo_custom.status" name="t_status"
                            ng-options="m.value as m.name for m in articleStatus">
                        <option value="">-- 请选择 --</option>
                    </select>
                </td>
            </tr>
            <tr ng-if="!pojo_custom.status">
                <td colspan="1"><label>未通过原因:</label></td>
                <td colspan="5"><textarea class="textarea" style="width:635px;height:100px;"
                                          ng-model="pojo_custom.reason" name="t_reason"  ></textarea>
                </td>
            </tr>
            <tr>
                <td class="tname"><label>文章分类:</label></td>
                <td class="tiput">
                    <select  ng-model="pojo_custom.cate1" name="t_usertype"
                             ng-options="(m.cateId + '-------' + m.cateName)  for m in webConfig.articleCates">
                        <option value="">-- 当前:-- {{ pojo_custom.cate1.cateName }}  --</option>
                    </select><br/>
                </td>
                <td></td>
                <td class="tname"><label>文章关键字:</label></td>
                <td class="tiput"><input ng-click="manngerKey();"
                                         type="text"
                                         placeholder="{{ pojo_custom.keyword }}"
                                         name="t_keyword"
                                         class="textbox" /><br/>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="1"><label>文章摘要:</label></td>
                <td colspan="5"><textarea class="textarea" 
                                    style="width:635px;height:100px;"
                                    ng-maxlength="100"
                                    ng-model="pojo_custom.introduce" 
                                    name="t_introduce"  required>
                                </textarea>
                </td>
                <td>
                 <span class="errorTips" ng-show="subForm.t_introduce.$error.required">
                        请输入摘要</span>
                 <span class="errorTips" ng-show="subForm.t_introduce.$error.maxlength">
                        长度限制100</span>   
                </td>
            </tr>
            <tr>
                <td  class="tname"><label>banner大图(1920*470):</label></td>
                <td  class="tiput"><input type="file" nv-file-select=""  uploader="uploaderBannerurl"  name="t_bannerurl" /><br/>
                    <img ng-src="{{ pojo_custom.bannerurl}}" width="160px" height="140px" ng-if="pojo_custom.bannerurl"/>
                <td><span class="errorTips" ng-show="subForm.t_bannerurl.$error.required">请输入banner大图</span></td>
                <td  class="tname"><label>封面图(284*240):</label></td>
                <td  class="tiput"><input type="file" nv-file-select=""  uploader="uploader"  name="t_imgUrl" /><br/>
                    <img ng-src="{{ pojo_custom.imgUrl}}" width="160px" height="140px" ng-if="pojo_custom.imgUrl"/>
                <td><span class="errorTips" ng-show="subForm.t_imgUrl.$error.required">请输入banner大图</span></td>
            </tr>
            <tr>
                <td  class="tname"><label>汇聚页缩略图:</label></td>
                <td  class="tiput">
                        <input type="number" ng-model="contentPicIndex.count" style="width:50px;background: none;"  />
                        <input style="width: 100px;background:#139667;border:0px;color:#fff;width:70px;height:28px;border-radius:3px;"
                               type="button" value="内容选取" ng-click="getContentPicUrl(false);"  /><br/>
                        <input style="width: 100px;background:#139667;border:0px;color:#fff;width:70px;height:28px;border-radius:3px;"
                               type="button" style="width: 100px;" ng-click="getContentPicUrl(true);"  value="选用封面"/>
                    <img ng-src="{{ pojo_custom.contentPicUrl}}" width="160px" height="140px" ng-if="pojo_custom.contentPicUrl"/>
                <td></td>
            </tr>
            <tr>
                <td>文章内容:</td></de><td width="700px" height="500px" colspan="5">
                    <div
                            style="width:700px;height:500px;float:left"
                            class="ueditor" config="config"
                            ng-model="pojo_custom.content">
                    </div>
                </td>
            </tr>
            <tr>
                <td  class="tname"><label>点击量:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.checkcounts" name="t_checkcounts" required
                           class="textbox" /><br/></td>
                <td><span class="errorTips" ng-show="subForm.t_checkcounts.$error.required">请输入banner顺序</span></td>
                <td class="tname"><label>首页排序:</label></td>
                <td class="tiput"><input type="number"  ng-model="pojo_custom.topno" name="t_topno"
                                         placeholder="从高到低" class="textbox" required /><br/>
                </td>
                <td><span class="errorTips" ng-show="subForm.t_topno.$error.required">请输入排序</span></td>
            </tr>
            <tr>
                <td class="tname"><label>喜欢次数:</label></td>
                <td class="tiput"><input type="number"  ng-model="pojo_custom.praiseCounts"
                                         class="textbox"  /><br/>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center;">
                    <input class="link_btn"  type="submit" ng-disabled="subForm.$invalid" value="提交" /></td>
                <td colspan="3" style="text-align: center;">
                    <input class="link_btn" type="button"  ng-click="toPageList();"  value="取消" /></td>
            </tr>
        </table>
        </form>
    </section>
</script>

<!--弹出框效果-->
<script>
    $(document).ready(function(){
        //选定作者
        $("#showPopTxt").click(function(){
            $("#pageOne").fadeIn();
        });
        $(".falseBtn").click(function(){
            $("#pageOne").fadeOut();
        });

        //弹出关键字
        $("#alertKeyPage").click(function(){
            $("#pageKey").fadeIn();
        });
        $(".falseBtn").click(function(){
            $("#pageKey").fadeOut();
        });
    });
</script>
<section  id="pageOne" class="pop_bg manChooseUser">
    <div class="pop_cont" style="width: 950px;height: 650px;left: 26%">
        <!--title-->
        <div class="">
        <h3>选定用户<input style="float: right;"  type="button" value="关闭" id=""  class="input_btn falseBtn"/></h3>
        </div>
        <!--content-->
        <div class="pop_cont_input">
        <section style="text-align: left;">
            <label style="width: 100px;">用户名:</label>
            <input type="text" class="textbox textbox_295" 
                    style="width: 200px;"
                    ng-change="searchUser();"
                   ng-model="search_user.$$_name" />
           <label>用户类型:</label>
            <select  ng-model="search_user.usertype" 
                     ng-change="searchUser();"
                     ng-options="m.usertype as m.name for m in userPowers">
                <option value="">-- 请选择 --</option>
            </select>
            <input type="button" value="查询"  ng-click="searchUser();" class="group_btn"/>
        </section>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>真实姓名</th>
                <th>性别</th>
                <th>用户身份</th>
                <th>创品数量</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="cus in array_user.$array">
                <td>{{ $index + 1}}</td>
                <td width="20%" ng-click="doChooseUser(cus);" 
                style="cursor: pointer;" >{{ cus.name }}</td>
                <td width="20%" >{{ cus.realName }}</td>
                <td width="7%" >{{ cus.sex ? '女' : '男' }}</td>
                <td width="15%" >
                    <span ng-show="cus.usertype == 1">普通人</span>
                    <span ng-show="cus.usertype == 2">名人</span>
                </td>
                <td width="7%" >{{ cus.productions.length }}</td>
                <td>
                    <a class="inner_btn"  ng-click="doChooseUser(cus);"  href="#">确定</a>
                </td>
            </tr>
            </table>
        </div>
        <aside class="paging">
            <a ng-show="array_user.$last"  ng-click="array_user.$toLast()">上一页</a>
            <!--<a>1</a>-->
            <a>{{ array_user.$curPage }}/{{ array_user.$pageCount }}</a>
            <a ng-show="array_user.$next"  ng-click="array_user.$toNext()">下一页</a>
            <a>总条数:{{ array_user.$totalSize }}</a>
        </aside>
    </div>
</section>

<section id="pageKey" class="pop_bg ttty"  >
    <div class="pop_cont">
        <div class="">
            <h3>关键字管理<input style="float: right;"  type="button" value="关闭"  class="input_btn falseBtn"/></h3>
        </div>
        <select  ng-model="articleKey"
                 ng-options="m  for m in  _.difference(webConfig.articleKeys,pojo_custom.keyword)">
                 <option value="">-- 请选择 --</option>
        </select>
        <input type="button" value="添加" ng-if="articleKey"
               ng-click="pojo_custom.keyword.push(articleKey);" />
        <br/>
        <table style="text-align: center;">
            <tr>
                <td width="20%">序号</td>
                <td width="60%">关键字</td>
                <td width="20%">操作</td>
            </tr>
            <tr ng-repeat="key in pojo_custom.keyword">
                <td>{{ $index }}</td>
                <td>{{ key }}</td>
                <td><input type="button"  ng-click="pojo_custom.keyword.remove(key);" value="删除"/> </td>
            </tr>
        </table>
    </div>
</section>

</body>
</html>