<div class="foot clearfix">
    <div class="foot-nr on-1200">
        <div class="fot-logo"><a href="#"><img src="/front/resource/images/foot-logo.jpg" /></a></div>
        <p class="foot-info">天造万物予人，人无一物予天。世间之大，能人辈出，穷寰宇之奥义多生奇巧，然而非有大毅力者不能取之。此等夺天地造化、侵日月玄机者，谓之造物者。 理主动静，千机繁杂变化之间，物穷而理现。以天地万物为一理，集众人私成天下公。商贾逐利喜于市，造物无言却有情。大哉乾元，万物资始，开造物盛世。</p>
        <p class="foot-shar"><img src="/front/resource/images/foot-shar.png" /></p>
        <p class="copyright">
            © 2015 造物者 zaowuzhe.&nbsp;&nbsp;&nbsp;&nbsp;皖ICP备14014199号-3
        </p>
        <p class="copyright">
            All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;安徽省雅集文化传媒有限公司
        </p>
        <p class="contact-us">
            电话：0551-65569573&nbsp;&nbsp;&nbsp;&nbsp;联系我们：contact@zwzhe.com
        </p>
    </div>
</div>