<script type="text/javascript">
    function openRegist(url,title){
        var index = layer.open({
            title:title,
            type:2,
            content: url,
            maxmin: true
        });
        layer.full(index);
    }

    //退出登录
    function logOut(){
        $.post("/regist/logout",{},function(data){
            if(!data.err){
                layer.msg('登出成功！');
                setTimeout(function(){
                    window.location.reload();
                },500)
            }else{
                layer.alert('用户未登录', {
                    icon: 2,
                    skin: 'layer-ext-moon'
                })
            }
        })
    }

</script>
<div class="modal-header head">
    <div class="container"><div class="clearfix">
        <div class="logo"><a href="#"><img src="/front/resource/images/logo.jpg" /></a></div>
        <div class="nav">
            <ul class="menu">
                <li class="current first"><a href="/">首页</a></li>
                <li class="li_3">
                    <a href="#" class="noclick">造物+</a>
                    <dl class="li_3_content">
                    <dt></dt>
                    <dd><a href="/front/artlist"><span>发现</span></a></dd>
                    <dd><a href="/front/toCusList"><span>创意人</span></a></dd>
                    <!--<dd><a href="/front/toActiveList"><span>社区</span></a></dd>-->
                </li>
                <li><a href="/front/toActiveList">活动</a></li>
                <li><a href="/front/prolist">创品</a></li>
            </ul>
        </div>

        <%    if($session.USER){ %>
                <% var user = $session.USER %>
                <div class="hedlogin">

                    <a href="/front/toUserCenter" >
                        <img src="/front/resource/images/hdlogin.png" />
                        <span style="cursor: pointer;">个人中心</span>
                    </a>

                    <span><%- user.name %></span>
                    <a  style="cursor: pointer;" onclick="logOut()">登出</a>
                </div>
        <%    }else{ %>
                <div class="hedlogin">
                        <img  onclick="openRegist('/regist/login','登录')"
                              src="/front/resource/images/hdlogin.png" />
                        <span onclick="openRegist('/regist/login','登录')"
                              style="cursor: pointer;">登录</span>/
                    <span style="cursor: pointer;"  onclick="openRegist('/regist/index','注册');">注册</span>
                </div>
        <%    } %>

        <div class="search">
            <span><input type="text" placeholder="请输入要搜索的关键词" class="txt" /></span>
            <span><input type="button" class="but" /></span>
        </div>
    </div></div>
</div>
<div class="ht100"></div>