<div class="modal-header head">
    <div class="container"><div class="clearfix">
        <div class="logo"><a href="#"><img src="/front/resource/images/logo.jpg" /></a></div>
        <div class="nav">
            <ul class="menu">
                <li class="current first"><a href="/">首页</a></li>
                <li class="li_3">
                    <a href="#" class="noclick">造物+</a>
                    <dl class="li_3_content">
                    <dt></dt>
                    <dd><a href="/front/artlist"><span>发现</span></a></dd>
                    <dd><a href="/front/toCusList"><span>创意人</span></a></dd>
                    <!--<dd><a href="/front/toActiveList"><span>社区</span></a></dd>-->
                </li>
                <li><a href="/front/toActiveList">活动</a></li>
                <li><a href="/front/prolist">创品</a></li>
            </ul>
        </div>
        <div class="hedlogin">
            <img src="/front/resource/images/hdlogin.png" />
            <a href="/regist/login">登录</a>/
            <a href="/regist/index">注册</a>
        </div>
        <div class="search">
            <span><input type="text" placeholder="请输入要搜索的关键词" class="txt" /></span>
            <span><input type="button" class="but" /></span>
        </div>
    </div></div>
</div>
<div class="ht100"></div>