<!DOCTYPE html>
<html ng-app="login">
<head>
<meta charset="utf-8"/>
<title>后台登录</title>
<meta name="author" content="DeathGhost" />
    <% include ../include/baseLink %>
<style>
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
<script>
$(document).ready(function() {
  //粒子背景特效
  $('body').particleground({
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
  });
});
</script>
    <script src="../dist/login.js"></script>
</head>
<body ng-controller="main">
<dl class="admin_login">
 <dt>
  <strong>站点后台管理系统</strong>
  <em>Management System</em>
 </dt>
 <dd class="user_icon">
  <input type="text" placeholder="账号"  class="login_txtbx" ng-model="userInfo.name" />
 </dd>
 <dd class="pwd_icon">
  <input type="password" placeholder="密码" class="login_txtbx" ng-model="userInfo.password" />
 </dd>
 <dd class="val_icon">
  <div class="checkcode" style="width: 210px;background:#5cbdab">
    <input type="text" placeholder="验证码" maxlength="4" class="login_txtbx" ng-model="userInfo.yanzhenma" >
      <img   id="YANZHENMAPic"  style="float:right;padding-top: 8px;margin-right: 4px;"
             ng-src="{{ picUrl }}" alt="验证码"  ng-click="changePic();" />
  </div>
  <input type="button" value="更换验证码" class="ver_btn" ng-click="changePic();">
 </dd>
 <dd>
  <input type="button" value="立即登陆" class="submit_btn" ng-click="tipUserInfo()" />
 </dd>
 <dd>
  <p>© 2015-2016 DeathGhost 版权所有</p>
  <p>陕B2-20080224-1</p>
 </dd>
</dl>
</body>
</html>
