<h2 class="fl">
    <span style="margin-left: 20px;"><a href="/back/toMangerBanner">首页banner</a></span>
    <span  style="margin-left: 60px;"><a href="/back/toArtRecommd">文章推荐</a></span>
    <span  style="margin-left: 100px;"><a href="/back/toCusRecommd">名人推荐</a></span>
    <span  style="margin-left: 140px;"><a href="/back/toActiveRecommd">活动推荐</a></span>
</h2>