<!DOCTYPE HTML>
<html lang="en" ng-app="myApp">
<style type="text/css">
    .waptitle{width:100%;height:45px; line-height: 45px;border-bottom:1px solid #e1e1e1; font-size:14px;font-family: "microsoft yahei"; font-weight: bold;}
    .waptitle span{ float: right;padding:3px 15px;display:blcok;border:1px solid #ececec; line-height: 25px;margin-top:6px;cursor: pointer;border-radius:3px;}
    .waptitle span:hover{background:#ececec;border:1px solid #e1e1e1;}
    .datatable{width:1000px;margin: 0 auto;}
    .tle1{margin-top:30px;margin-bottom:30px;;font-size:14px; font-family: "microsoft yahei";height:35px; line-height:35px;border-bottom:1px  dashed #ececec;font-weight: bold;}
    .datatable td{padding:6px 0;}
    .tname{width:112px; font-size: 12px;}
    .tiput input{width:200px;}
    .top1{margin-top:5px;}
</style>
<head>
    <meta charset="UTF-8">
    <% include ../include/baseLink %>
    <title>用户信息管理</title>
    <link href="/plugin/lightgallery/dist/css/lightgallery.css" rel="stylesheet">
    <script type="text/javascript" src="/front/dist/lightgally.js"></script>
    <script type="text/javascript" src="/back/dist/work.js"></script>
</head>
<body ng-controller="main">
<div class="rt_content">
    <ts-cuslist ng-if="show.cuslist"></ts-cuslist>
    <ts-cusadd ng-if="show.cusadd"></ts-cusadd>
</div>
<!-- 用户列表页面 -->
<script type="text/ng-template" id="cuslist">
    <div class="page_title">
        <h2 class="fl">作品信息列表</h2>
    </div>
    <section>
        <label>作品名:</label>
        <input type="text" class="textbox textbox_295"  style="width: 169px;" ng-model="search_custom.$$_title" />
        <label>用户:</label>
        <input type="text" class="textbox textbox_295"  style="width: 169px;" ng-model="search_custom.$$_userName" />
        <label>活动:</label>
        <input type="text" class="textbox textbox_295"  style="width: 169px;" ng-model="search_custom.$$_activeName" />
        <label>一级分类:</label>
        <select  ng-model="search_custom.cate1$cateId" name="t_usertype"
                 ng-options="(m.cateId + '-------' + m.cateName)  for m in webConfig.workCates">
                 <option value="">-- 所有  --</option>
        </select>
        <select  ng-model="search_custom.cate2$cateId" name="t_usertype"
                 ng-options="m.cateId as m.cateName  for m in search_custom.cate1$cateId.subCate">
            <option value="">-- 所有 --</option>
        </select>
        报名信息:<input type="checkbox"
                           ng-model="search_custom.in"
                           ng-true-value="0"
                           ng-false-value="1"
                        />
        <input type="button" value="查询"  ng-click="search();" class="group_btn"/>
    </section>
    <section>
        <div class="page_title">
            <h2 class="fl">作品信息展示</h2>
            <a class="fr top_rt_btn"  ng-click="changeIntoEdit()">添加作品</a>
        </div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>作品名称</th>
                <th>作品类型</th>
                <th>作者</th>
                <th>活动</th>
                <th>状态</th>
                <th>权重</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="cus in array_custom.$array">
                <td>{{ $index + 1}}</td>
                <td width="12%"  style="cursor: pointer;"
                    ng-click="changeIntoEdit(cus);">{{ cus.title }}</td>
                <td width="12%">
                    {{ cus.cate1.cateName }}/{{ cus.cate2.cateName }}
                </td>
                <td width="8%">{{ cus.$user.name }}</td>
                <td width="8%">{{ cus.$active.title }}</td>
                <td width="8%">{{ cus.state }}</td>
                <td width="8%">{{ cus.topno }}</td>
                <td>
                    <a class="inner_btn"  ng-click="removeCustom(cus);"  href="#">删除</a>
                    <a class="inner_btn"  ng-if="parentShow"   ng-click="parentChoose(cus);"
                       href="#">选定</a>
                </td>
            </tr>
        </table>
        <aside class="paging">
            <a ng-show="array_custom.$last"  ng-click="array_custom.$toLast()">上一页</a>
            <!--<a>1</a>-->
            <a>{{ array_custom.$curPage }}/{{ array_custom.$pageCount }}</a>
            <a ng-show="array_custom.$next"  ng-click="array_custom.$toNext()">下一页</a>
            <a>总条数:{{ array_custom.$totalSize }}</a>
        </aside>
    </section>
</script>
<!-- 用户添加编辑页面-->
<script type="text/ng-template" id="cusadd" >
    <div class="page_title top1">
        <h2 class="fl">{{ pojo_custo._id ? '作品编辑' : '作品添加' }}</h2>
        <a class="fr top_rt_btn" ng-click="toPageList();" >返回</a>
    </div>
    <div>
        <h2 class="fl" ng-if="pojo_custo._id">用户数据编辑</h2>
    </div>
    <section>
        <form
                name="subForm"
                ng-submit="saveOrUpdate()"
                >
            <table class="datatable">
                <tr>
                    <td colspan="6" style="text-align: left;" class="tle1">作品基本信息</td>
                </tr>
                <tr>
                    <td class="tname"><label>作品名称:</label></td>
                    <td class="tiput"><input type="text"  ng-model="pojo_custom.title"
                                             name="t_title"
                                             class="textbox" required placeholder="作品名称" />
                                             <br/></td>
                    <td class="tname"><label>作品状态:</label></td>
                    <td class="tiput"><select  ng-model="pojo_custom.state" name="t_usertype"
                                               ng-options="m.id as m.name  for m in workState">
                            <option value="">-- 请选择 --</option>
                        </select><br/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tname"><label>作者:</label></td>
                    <td class="tiput"><input type="text"
                                             ng-model="pojo_custom.userName"
                                             name="_userName"
                                             class="textbox"
                                     /><br/>
                    </td>
                    <td class="tname"><label>活动:</label></td>
                    <td class="tiput"><input type="text"
                                             ng-model="pojo_custom.activeName"
                                             name="activeName"
                                             class="textbox"
                                /><br/>
                    </td>
                </tr>
                <tr>
                    <td class="tname"><label>一级分类:</label></td>
                    <td class="tiput">
                        <select  ng-model="pojo_custom.cate1" name="t_usertype"
                                 ng-options="(m.cateId + '-------' + m.cateName)  for m in webConfig.workCates">
                            <option value="">-- 当前:-- {{ pojo_custom.cate1.cateName }}  --</option>
                        </select><br/>
                    </td>
                    <td class="tname"><label>二级分类:</label></td>
                    <td class="tiput">
                        <select  ng-model="pojo_custom.cate2" name="t_usertype"
                                 ng-options="(m.cateId + '-------' + m.cateName)  for m in pojo_custom.cate1.subCate">
                            <option value="">-- 当前--{{ pojo_custom.cate2.cateName }} --</option>
                        </select><br/>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="1"><label>作品介绍:</label></td>
                    <td colspan="5"><textarea class="textarea"
                                              style="width:635px;height:100px;"
                                              ng-model="pojo_custom.introduce"
                                              name="t_introduce"
                                              ></textarea>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="6" style="text-align: left;" class="tle1">作品列表&nbsp;&nbsp;&nbsp;&nbsp;共:{{ pojo_custom.fileUrls.length }}</td>
                </tr>

                <tr>
                    <td colspan="6" width="100%">
                        <ul class="showOverPic">
                            <li ng-repeat="pic in pojo_custom.fileUrls"
                                data-sub-html="{{ pic.name }}"
                                data-src="{{pic.url}}"
                                style="float: left;padding-right: 10px;padding-top: 10px;">
                                <img width="230" height="220" ng-src="{{ pic.url }}" />
                                <p>{{ pic.name }}</p>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="tname"><label>推荐权重:</label></td>
                    <td class="tiput"><input type="text"  ng-model="pojo_custom.topno" name="t_topno"
                                             class="textbox" /><br/></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align: left;" class="tle1">报名信息</td>
                </tr>
                <tr>
                    <td class="tname"><label>报名姓名:</label></td>
                    <td class="tiput"><input type="text"
                                             ng-model="pojo_custom.form.name"
                                             name="_userName"
                                             class="textbox"
                                /><br/>
                    </td>
                    <td class="tname"><label>联系方式:</label></td>
                    <td class="tiput"><input type="text"
                                             ng-model="pojo_custom.form.tel"
                                             name="activeName"
                                             class="textbox"
                                /><br/>
                    </td>
                </tr>
                <tr>
                    <td class="tname"><label>邮箱:</label></td>
                    <td class="tiput"><input type="text"
                                             ng-model="pojo_custom.form.email"
                                             name="_userName"
                                             class="textbox"
                                /><br/>
                    </td>
                    <td class="tname"><label>邮箱:</label></td>
                    <td class="tiput"><input type="text"
                                             ng-model="pojo_custom.form.address"
                                             name="activeName"
                                             class="textbox"
                                /><br/>
                    </td>
                </tr>
                <tr>
                    <td class="tname"><label>单位:</label></td>
                    <td class="tiput"><input type="text"
                                             ng-model="pojo_custom.form.unit"
                                             name="_userName"
                                             class="textbox"
                                /><br/>
                    </td>
                    <td></td><td></td><td></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center;">
                        <input class="link_btn"  type="submit" ng-disabled="subForm.$invalid" value="提交" /></td>
                    <td colspan="3" style="text-align: center;">
                        <input class="link_btn" type="button"  ng-click="toPageList();"  value="取消" /></td>
                </tr>
            </table>
        </form>
    </section>
</script>
</body>
</html>