<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <% include ../include/baseLink %>
    <title>用户信息管理</title>
    <script type="text/javascript" src="/back/dist/customer.js"></script>
    <script>
        function parentChoose(){
            window.parent.window.parentFun();
        }
    </script>
</head>
<body ng-controller="main">
<div class="rt_content">
    <ts-cuslist ng-if="show.cuslist"></ts-cuslist>
    <ts-cusadd ng-if="show.cusadd"></ts-cusadd>
</div>
<!-- 用户列表页面 -->
<script type="text/ng-template" id="cuslist">
    <div class="page_title">
        <h2 class="fl">用户信息列表</h2>
    </div>
    <section>
        <label>姓名:</label>
        <input type="text" class="textbox textbox_295"  ng-model="search_custom.$$_name" />
        <label>用户类型:</label>
            <select  ng-model="search_custom.usertype" name="t_usertype"
                                   ng-options="m.usertype as m.name for m in userPowers">
                <option value="">-- 请选择 --</option>
            </select>
        <input type="button" value="查询"  ng-click="search();" class="group_btn"/>
    </section>
    <section>
        <div class="page_title">
            <h2 class="fl">例如产品详情标题</h2>
            <a class="fr top_rt_btn"  ng-click="changeIntoEdit()">添加用户</a>
        </div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>用户昵称</th>
                <th>真实姓名</th>
                <th>性别</th>
                <th>用户职业</th>
                <th>用户身份</th>
                <th>文章数</th>
                <th>创品数</th>
                <th>用户粉丝</th>
                <th>关注的人</th>
                <th>首页排序</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="cus in array_custom.$array">
                <td>{{ $index + 1}}</td>
                <td width="8%"  ng-click="changeIntoEdit(cus);">{{ cus.name }}</td>
                <td width="8%" >{{ cus.realName }}</td>
                <td width="5%" >{{ cus.sex ? '女' : '男' }}</td>
                <td width="8%" >{{ cus.job }}</td>
                <td width="8%" >{{ cus.usertype == 1 ? '普通用户' : '名人' }}</td>
                <td width="7%" >{{ cus.articles.length }}</td>
                <td width="7%" >{{ cus.productions.length }}</td>
                <td width="7%" >{{ cus.followers.length }}</td>
                <td width="7%" >{{ cus.attentions.length }}</td>
                <td width="7%" >{{ cus.topno }} </td>
                <td>
                    <a class="inner_btn"  ng-click="changeIntoEdit(cus);"  href="#">查看</a>
                    <a class="inner_btn"  ng-click="removeCustom(cus);"  href="#">删除</a>
                    <a class="inner_btn"  ng-if="parentShow"   ng-click="parentChoose(cus);"
                    href="#">选定</a>
                </td>
            </tr>
        </table>
        <aside class="paging">
            <a ng-show="array_custom.$last"  ng-click="array_custom.$toLast()">上一页</a>
            <!--<a>1</a>-->
            <a>{{ array_custom.$curPage }}/{{ array_custom.$pageCount }}</a>
            <a ng-show="array_custom.$next"  ng-click="array_custom.$toNext()">下一页</a>
            <a>总条数:{{ array_custom.$totalSize }}</a>
        </aside>
    </section>
</script>
<!-- 用户添加编辑页面-->
<script type="text/ng-template" id="cusadd" >
    <div class="page_title top1">
        <h2 class="fl">{{ pojo_custo._id ? '用户编辑' : '用户添加' }}</h2>
        <a class="fr top_rt_btn" ng-click="toPageList();" >返回</a>
    </div>
    <div>
    <h2 class="fl" ng-if="pojo_custo._id">用户数据编辑</h2>
    </div>
    <section>
        <form
            name="subForm"
            ng-submit="saveOrUpdate()"
        >
        <table class="datatable">
            <tr>
                <td colspan="6" style="text-align: left;" class="tle1">用户联基本信息</td>
            </tr>
            <tr>
                <td class="tname"><label>昵称:</label></td>
                <td class="tiput" style="width: 200px;"><input type="text"  ng-model="pojo_custom.name"  name="t_name"
                           class="textbox" required placeholder="请输入你的昵称" /></td>
                <td class="tip" ><span class="errorTips" ng-show="subForm.t_name.$error.required">昵称错误</span></td>
                <td class="tname"><label>密码:</label></td>
                <td class="tiput"><input type="password"  ng-model="pojo_custom.password" name="t_password"
                           class="textbox" required /></td>
                <td><span class="errorTips" ng-show="subForm.t_password.$error.required">请输入密码</span></td>
            </tr>
            <tr>
                <td class="tname"><label>真实姓名:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.realName"  name="t_realName"
                           class="textbox"/></td>
                <td class="tip"></td>
                <td class="tname"><label>性别:</label></td>
                <td><input type="radio"
                           name="pojo_custom_sex"
                           ng-model="pojo_custom.sex"
                           ng-value="0"
                           class="textbox" />男
                    <input type="radio"
                           name="pojo_custom_sex"
                           ng-model="pojo_custom.sex"
                           ng-value="1"
                           class="textbox" />女
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="tname"><label>职业:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.job" class="textbox"
                           name="t_job" required /></td>
                <td class="tip"><span class="errorTips" ng-show="subForm.t_job.$error.required">请输入职业</span></td>
                <td class="tname"><label>邮箱:</label></td>
                <td class="tiput"><input type="email"  ng-model="pojo_custom.email" class="textbox" name="t_email"
                            /></td>
                <td class="tip"></td>
            </tr>
            <tr>
                <td class="tname"><label>生日:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.birthday"  date-picker
                           class="textbox Wdate" /></td>
                <td></td>
                <td class="tname"><label>学校:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.educational"  name="t_educational"
                           class="textbox" /></td>
                <td class="tip"></td>
            </tr>
            <tr>
                <td class="tname"><label>用户分类:</label></td>
                <td class="tiput">
                    <select  ng-model="pojo_custom.cate1" name="t_usertype"
                             ng-options="(m.cateId + '-------' + m.cateName)  for m in webConfig.customerCates">
                        <option value="">-- 当前:-- {{ pojo_custom.cate1.cateName }}  --</option>
                    </select><br/>
                </td>
                <td></td>
                <td class="tname"><label>标签:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.ability" class="textbox"
                            name="t_ability" placeholder="标签请用逗号隔开" /></td>
                <td class="tip"></td>
            </tr>
            <tr>
                <td colspan="1"><label>用户介绍:</label></td>
                <td colspan="5"><textarea class="textarea" style="width:635px;height:100px;" ng-model="pojo_custom.introduce" name="t_introduce" required></textarea></td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: left;" class="tle1">用户联系方式</td>
            </tr>
            <tr>
                <td class="tname"><label>联系方式:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.phoneNumber" name="t_phoneNumber"
                           class="textbox" /></td>
                <td class="tip"><span class="errorTips" ng-show="subForm.t_phoneNumber.$error.required">请输入联系方式</span></td>
                <td class="tname"><label>微博:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.weibo" class="textbox" name="t_weibo"
                            /></td>
                <td  class="tip"></td>
            </tr>
            <tr>
                <td class="tname"><label>QQ:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.qq" class="textbox"   name="t_qq"
                            /></td>
                <td class="tip"></td>
                <td class="tname"><label>首页排序:</label></td>
                <td class="tiput"><input type="text"  ng-model="pojo_custom.topno" class="textbox"
                                    name="t_topno" /></td>
                <td class="tip"></td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: left;" class="tle1">用户地址</td>
            </tr>
            <tr>
                <td class="tname"><label>选择地址:</label></td>
                <td class="tiput" colspan="5">
                        <china-area-selector region="region1"></china-area-selector>
                    {{ region1 }}
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: left;" class="tle1">用户图像</td>
            </tr>
            <tr>
                <td  class="tname"><label>头像:</label></td>
                <td class="tiput"><input type="file" nv-file-select="" uploader="uploader"  name="t_imgurl" />
                    <img ng-src="{{ pojo_custom.imgurl}}" width="160px" height="140px" ng-if="pojo_custom.imgurl"/>
                <td class="tip"><span class="errorTips" ng-show="subForm.t_imgurl.$error.required">请输入图像</span></td>
                <td class="tname"><label>封面:</label></td>
                <td class="tiput"><input type="file" nv-file-select=""  uploader="uploaderCoverimgurl"  name="t_coverimgurl" />
                    <br/><img ng-src="{{ pojo_custom.coverimgurl}}" width="160px" height="140px" ng-if="pojo_custom.coverimgurl"/>
                </td>
                <td class="tip"><span class="errorTips" ng-show="subForm.t_coverimgurl.$error.required">请输入封面</span></td>
            </tr>
            <tr>
                <td class="tname"><label>大图:</label></td>
                <td class="tiput">
                    <input type="file" nv-file-select="" uploader="uploader_bigimgurl"  name="t_bigimgurl" />
                    <img ng-src="{{ pojo_custom.bigimgurl}}" width="160px" height="140px" ng-if="pojo_custom.bigimgurl"/>
                </td>
                <td class="tip"><span class="errorTips" ng-show="subForm.t_bigimgurl.$error.required">请输入大图</span></td>
                <td class="tname"><label>banner:</label></td>
                <td class="tiput">
                    <input type="file" nv-file-select="" uploader="uploader_banner"  name="t_bannerurl" /><br/>
                    <img ng-src="{{ pojo_custom.bannerurl}}" width="160px" height="140px" ng-if="pojo_custom.bannerurl"/>
                </td>
                <td class="tip"><span class="errorTips" ng-show="subForm.t_bannerurl.$error.required">请输入banner</span></td>
            </tr>
            <tr ng-if="pojo_custom.articles && pojo_custom.productions">
                <td colspan="6" style="text-align: left;" class="tle1">用户数据</td>
            </tr>
            <tr ng-if="pojo_custom.articles && pojo_custom.productions">
                <td><label>文章数量:</label></td>
                <td colspan="2">{{ pojo_custom.articles.length }}</td>
                <td><label>创品数量:</label></td>
                <td colspan="2">{{ pojo_custom.productions.length }}</td>
            </tr>
            <tr ng-if="pojo_custom.followers && pojo_custom.attentions">
                <td><label>用户粉丝:</label></td>
                <td colspan="2">{{ pojo_custom.followers.length }}</td>
                <td><label>用户粉丝:</label></td>
                <td colspan="2">{{ pojo_custom.attentions.length }}</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center;">
                    <input class="link_btn" type="submit"  ng-click="saveOrUpdate();"  value="提交" /></td>
                <td colspan="3" style="text-align: center;">
                    <input class="link_btn" type="button"  ng-click="toPageList();"  value="取消" /></td>
            </tr>
        </table>
        </form>
    </section>
</script>
</body>
</html>