<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>hello world,  i'm node js!!</h1>
<h2> <span style="float: left">auther:<%= auther%></span></h2>
</body>
</html>