<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>事详情页</title>
<% include ../include/baseLink%>
</head>
<body>
</body>
<% include ../include/head %>
<div class="wap clearfix">
	<div class="on-1200">
    	<div class="user-top clearfix">
        	<div class="top-wap">
            	<div class="user-head lt"><img class="zz" src="/front/resource/images/txzzzzz.png" /><img class="tx" src="/front/resource/images/tx2.jpg" /></div>
                <div class="user-mid lt">
                	<div class="user-mid-top">
                    	<span class="name">吴冠中</span><span class="jop">平面设计师</span><span class="gzs"><b>13</b>件作品</span><span class="gzs"><b>1024</b>个粉丝</span><span class="gzs"><b>586</b>人关注</span><span class="scs"><b>162</b>人收藏</span><span class="guanz">关注</span>
                    </div>
                    <div class="user-info">
                    	1919年生于江苏宜兴，是20世纪现代中国绘画的代表画家，中国绘画艺术大师 。终生致力于油画民族化及中国画现代化之探索，坚韧不拔地实践着“油画民族、
“中国画现代化”的创作理念，形成了鲜明的艺术特色；他执着地守望着“在祖国、在故乡、在家园、在自己心底”的真切情感，表达了民族和大众的审美需求
他的作品具有很高的文化品格；国内外已出版画集约40余种，文集10余种。2010年6月25日23时57分，吴冠中先生因病医治无效，在北京医院逝世
享年91岁。
                    </div>
                </div>
            </div>
        </div>
        <div class="user-product">
        	<div class="sdetil">
            	<div class="tle">愿我如星君如月,夜夜流光相皎洁</div>
                <div class="tle2">
                	<div class="lt"><a href="#">我是标签</a><a href="#">我是标签</a><a href="#">我是标签</a><a href="#">我是标签</a></div>
                    <div class="rt"><span>阅读<b>4723</b></span><span>喜欢<b>22</b></span><span>收藏<b>20</b></span><span>评论<b>234</b></span><span>发布时间：2016-3-19</span></div>
                </div>
                <div class="szhengw">1919年生于江苏宜兴，是20世纪现代中国绘画的代表画家，中国绘画艺术大师 。终生致力于油画民族化及中国画现代化之探索，坚韧不拔地实践着“油画民族、
“中国画现代化”的创作理念，形成了鲜明的艺术特色；他执着地守望着“在祖国、在故乡、在家园、在自己心底”的真切情感，表达了民族和大众的审美需求
他的作品具有很高的文化品格；国内外已出版画集约40余种，文集10余种。2010年6月25日23时57分，吴冠中先生因病医治1919年生于江苏宜兴，是20世纪现代中国绘画的代表画家，中国绘画艺术大师 。终生致力于油画民族化及中国画现代化之探索，坚韧不拔地实践着“油画民族、
“中国画现代化”的创作理念，形成了鲜明的艺术特色；他执着地守望着“在祖国、在故乡、在家园、在自己心底”的真切情感，表达了民族和大众的审美需求
他的作品具有很高的文化品格；国内外已出版画集约40余种，文集10余种。2010年6月25日23时57分，吴冠中先生因病医治1919年生于江苏宜兴，是20世纪现代中国绘画的代表画家，中国绘画艺术大师 。终生致力于油画民族化及中国画现代化之探索，坚韧不拔地实践着“油画民族、
“中国画现代化”的创作理念，形成了鲜明的艺术特色；他执着地守望着“在祖国、在故乡、在家园、在自己心底”的真切情感，表达了民族和大众的审美需求
他的作品具有很高的文化品格；国内外已出版画集约40余种，文集10余种。2010年6月25日23时57分，吴冠中先生因病医治1919年生于江苏宜兴，是20世纪现代中国绘画的代表画家，中国绘画艺术大师 。终生致力于油画民族化及中国画现代化之探索，坚韧不拔地实践着“油画民族、
“中国画现代化”的创作理念，形成了鲜明的艺术特色；他执着地守望着“在祖国、在故乡、在家园、在自己心底”的真切情感，表达了民族和大众的审美需求
他的作品具有很高的文化品格；国内外已出版画集约40余种，文集10余种。2010年6月25日23时57分，吴冠中先生因病医治</div>
            </div>   
            <div class="likes">
            	<span><a title="喜欢"><img src="/front/resource/images/lisk.jpg" /></a><p>365人喜欢</p></span>
                <span><a title="收藏"><img src="/front/resource/images/scang.jpg" /></a><p>478人收藏</p></span>
            </div> 
        </div>
        <div class="tjtle">推荐文章</div>
        <div class="contfx clearfix" id="son2">
                	<ul class="clearfix">
                        <li class="fali">
                        	<a class="imgs" href="#"><img src="/front/resource/images/fa1.jpg" /></a>
                            <div class="shilt lt">
                            	<h3><a href="#">我是发现，必须点击我~来哦~</a></h3>
                                <div class="date">发布时间&nbsp;:&nbsp;2016-3-19</div>
                                <div class="info">故事是从一个叫做张小凡的普通少年开始的。机缘巧合，一位天音寺名为普智的高僧在临终前传授给他天音寺不外传的真法——大梵般若，希望能在张小凡身</div>
                                <div class="lks"><span class="read">3104</span><span class="like">235</span><span class="pl">445</span></div>
                            </div>
                        </li>
                        <li class="fali">
                        	<a class="imgs" href="#"><img src="/front/resource/images/6.jpg" /></a>
                            <div class="shilt lt">
                            	<h3><a href="#">我是发现，必须点击我~来哦~</a></h3>
                                <div class="date">发布时间&nbsp;:&nbsp;2016-3-19</div>
                                <div class="info">故事是从一个叫做张小凡的普通少年开始的。机缘巧合，一位天音寺名为普智的高僧在临终前传授给他天音寺不外传的真法——大梵般若，希望能在张小凡身</div>
                                <div class="lks"><span class="read">3104</span><span class="like">235</span><span class="pl">445</span></div>
                            </div>
                        </li>
                    </ul>
            </div>
        <div class="comment clearfix">
        	<div class="shuruk">
            	<div class="ruka"><textarea>在此输入你的评论</textarea></div>
                <div class="rukb"><span>已有<b>1205</b>人评论</span><span class="subt"><input type="button" value="发表评论" /></span></div>
            </div>
            <div class="list clearfix">
            	<div class="portrait">
                	<a href="#">
                	<img class="zz" src="/front/resource/images/pozhezhao.png" />
                    <img class="tx" src="/front/resource/images/toux2.jpg" />
                    </a>
                </div>
                <div class="midle lt">
                	<div class="username"><a href="#">索德斯奈</a></div>
                    <div class="det">小伙伴们~今天~我美吗~回复邮箱发资源~~</div>
                </div>
                <div class="other rt">
                	<span class="time">2016-3-11</span>
                    <span class="time">10:33</span>
                    <span class="time">回复（<b>478</b>）</span>
                </div>
                <div class="seclist">
                	<div class="userpor">
                    	<img class="t1" src="/front/resource/images/smalzz.png" />
                        <img class="t2" src="/front/resource/images/touxsmal1.jpg" />
                    </div>
                    <div class="mid12">
                    	<h7>鱼丸兔子的回复</h7>
                        <div class="nr">楼主好人~360982972@qq.com邮箱已贴,如果我是DJ你还爱我吗~你还</div>
                    </div>
                    <div class="date">
                    	<span class="time">2016-3-11</span>
                        <span class="time">10:33</span>
                        <span class="time"><a href="#">回复</a></span>
                    </div>
                </div>
            </div>
            <div class="list clearfix">
            	<div class="portrait">
                	<a href="#">
                	<img class="zz" src="/front/resource/images/pozhezhao.png" />
                    <img class="tx" src="/front/resource/images/toux3.jpg" />
                    </a>
                </div>
                <div class="midle lt">
                	<div class="username"><a href="#">索德斯奈</a></div>
                    <div class="det">7th Psarokokalo Athens International Short Film Festival.</div>
                </div>
                <div class="other rt">
                	<span class="time">2016-3-11</span>
                    <span class="time">10:33</span>
                    <span class="time">回复</span>
                </div>
            </div>
            <div class="list clearfix">
            	<div class="portrait">
                	<a href="#">
                	<img class="zz" src="/front/resource/images/pozhezhao.png" />
                    <img class="tx" src="/front/resource/images/toux1.jpg" />
                    </a>
                </div>
                <div class="midle lt">
                	<div class="username"><a href="#">索德斯奈</a></div>
                    <div class="det">学过画画的人都很容易排这些线，制作软件用AI就可以了学过画画的人都很容易排这些线，制作软件用AI就可以了</div>
                </div>
                <div class="other rt">
                	<span class="time">2016-3-11</span>
                    <span class="time">10:33</span>
                    <span class="time">回复</span>
                </div>
            </div>
            <div class="clikemore"><span>点击加载更多</span></div>
        </div>
    </div>
</div>
<div class="foot"><img src="/front/resource/images/foot.jpg" /></div>
</html>
