<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>活动详情页</title>
    <% include ../include/baseLink%>
    <link rel="stylesheet" href="/front/resource/css/login.css"/>
</head>
<body ng-controller="active_detail_control">
<% include ../include/head %>

<div class="wap clearfix">
    <div class="on-1200">
        <div class="all-message">
            <div class="title">
                <span class="tle">通知</span>
                <span class="mes">你一共收到6条站内信息</span>
            </div>
            <div class="cont">
                <div class="list clearfix">
                    <div class="all-top-news">
                        <div class="head-img lt">
                            <img class="zz" src="/front/resource/images/peozhezhao.png" />
                            <img src="/front/resource/images/peo_1.jpg" />
                        </div>
                        <dl class="mid-txt lt">
                            <dt>
                                <span class="name">索德斯奈</span>
                                <span class="tles">赞了你在<a href="#">《万物创造力》</a>中的评论</span>
                            </dt>
                            <dd>想法很独特，见解也可以，但是观点表达证明力度还不够啊~多家努力多找点实力</dd>
                        </dl>
                        <div class="cz rt">
                            <a href="#">举报</a>
                            <a href="#">回复</a>
                            <a href="#">删除</a>
                        </div>
                    </div>
                </div>
                <div class="list clearfix">
                    <div class="all-top-news">
                        <div class="head-img lt">
                            <img class="zz" src="/front/resource/images/peozhezhao.png" />
                            <img src="/front/resource/images/peo_1.jpg" />
                        </div>
                        <dl class="mid-txt lt">
                            <dt>
                                <span class="name">造物者</span>
                                <span class="tles">审核通过了你的作品<a href="#">《半壶纱》</a></span>
                            </dt>
                            <dd>想法很独特，见解也可以，但是观点表达证明力度还不够啊~多家努力多找点实力</dd>
                        </dl>
                        <div class="cz rt">
                            <a href="#">删除</a>
                        </div>
                    </div>
                </div>
                <div class="list clearfix">
                    <div class="all-top-news">
                        <div class="head-img lt">
                            <img class="zz" src="/front/resource/images/peozhezhao.png" />
                            <img src="/front/resource/images/peo_1.jpg" />
                        </div>
                        <dl class="mid-txt lt">
                            <dt>
                                <span class="name">造物者</span>
                                <span class="tles">在<a href="#">《设计之路》</a>大赛中删除了你的作品<a href="#">《万物创造力》</a></span>
                            </dt>
                            <dd>想法很独特，见解也可以，但是观点表达证明力度还不够啊~多家努力多找点实力</dd>
                        </dl>
                        <div class="cz rt">
                            <a href="#">删除</a>
                        </div>
                    </div>
                </div>
                <div class="list clearfix">
                    <div class="all-top-news">
                        <div class="head-img lt">
                            <img class="zz" src="/front/resource/images/peozhezhao.png" />
                            <img src="/front/resource/images/peo_1.jpg" />
                        </div>
                        <dl class="mid-txt lt">
                            <dt>
                                <span class="name">索德斯奈</span>
                                <span class="tles">赞了你在<a href="#">《万物创造力》</a>中的评论</span>
                            </dt>
                            <dd>想法很独特，见解也可以，但是观点表达证明力度还不够啊~多家努力多找点实力</dd>
                        </dl>
                        <div class="cz rt">
                            <a href="#">举报</a>
                            <a href="#">回复</a>
                            <a href="#">删除</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page"><span><a href="#">&lt;</a></span><span><a href="#">1</a></span><span><a href="#">2</a></span><span><a href="#">3</a></span><span><a href="#">4</a></span><span><a href="#">5</a></span><span><a href="#">&gt;</a></span></div>
        </div>
    </div>
</div>
<% include ../include/foot %>
<script type="text/javascript"  src="/front/dist/active_detail.js"></script>
</body>
</html>
