<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>产品列表页</title>
<% include ../include/baseLink %>
</head>
<body>
<% include ../include/head %>
<div class="ht100"></div>
<div class="bs-docs-featurette">
	<div class="container projects">
    	<div class="scp_title"><span class="dtle">创品</span><span class="bytle">生活美好的事物从发现开始</span></div>
    	<div class="row sm1">
        <%    _.each(products,function(ele){  %>
                <div class="col-sm-6 col-lg-3">
                    <div class="list">
                        <a href="#">
                        <img  width="226" height="221" src="<%- ele.imgBigUrl  %>" class="m1fximg" /></a>
                        <div class="oter"><span class="cprice">￥<%- ele.price %></span>
                                          <span class="name">作者：<%- ele._userName %></span></div>
                        <p class="title"><a href="#"><%- ele.introduce %></a></p>
                    </div>
                </div>
        <%    }) %>
        </div>
        <div class="clickmore"><a href="#">点击加载更多</a></div>
    </div>
</div>
<% include ../include/foot %>
</body>
</html>
