<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>show</title>
    <style type="text/css">
        .progressOut {
            width: 600px;height: 30px;background: red;
        }
        .progressIn { background: green;height:100%;}


        .normaldrop { width: 80%;margin: auto 0;height: 200px;border: solid; }

    </style>
    <% include ../include/baseLink.ejs  %>

</head>
<!-- 1. nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
<body ng-controller="upload_work_controller"
      nv-file-drop=""
      uploader="uploader"
      filters="queueLimit, customFilter">
<div>
    <div >
        <div >
            <h3>Select files</h3>
            <div ng-show="uploader.isHTML5">
                <!-- 3. nv-file-over uploader="link" over-class="className" -->
                <!--设置拖拽空间-->
                <div class="normaldrop"  nv-file-over="" uploader="uploader">
                    Base drop zone
                </div>
                <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                <div class="normaldrop"
                     nv-file-drop=""
                     uploader="uploader"
                     options="{ url: '/foo' }">
                    <div nv-file-over="" uploader="uploader"  >
                        Another drop zone with its own settings
                    </div>
                </div>
            </div>
            <!--设置上传的Input
                multiple 代表多选的   Single 代表单选
            -->
            Multiple
            <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
            Single
            <input type="file" nv-file-select="" uploader="uploader" />
        </div>

        <div  style="margin-bottom: 40px">
            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader.queue.length }}</p>
            <table>
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr  ng-class="'slide-left'" ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progressOut" >
                            <div class="progressIn" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i ></i></span>
                        <span ng-show="item.isCancel"><i ></i></span>
                        <span ng-show="item.isError"><i ></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span ></span> Upload
                        </button>
                        <button type="button"  ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span></span> Cancel
                        </button>
                        <button type="button"  ng-click="item.remove()">
                            <span ></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <div>
                    Queue progress:
                    <div>
                        <div role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button"  ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button"ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <span ></span> Cancel all
                </button>
                <button type="button" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <span ></span> Remove all
                </button>
            </div>
        </div>
    </div>
</div>

<div><img src="{{ uploadUrl }}" alt=""></div>
</body>
<script type="text/javascript" src="/front/dist/upload_work.js"></script>
</html>