<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>查看他人主页</title>
    <% include ../include/baseLink%>
</head>
<body>
<% include ../include/head %>
<div class="wap clearfix">
    <div class="on-1200">
        <div class="user-top clearfix">
            <div class="top-wap">
                <div class="user-head lt">
                    <img class="zz" src="images/txzzzzz.png" />
                    <img class="tx" src="images/tx2.jpg" />
                </div>
                <div class="user-mid lt">
                    <div class="user-mid-top">
                        <span class="name">吴冠中</span>
                        <span class="jop">平面设计师</span>
                        <span class="addres">安徽合肥</span>
                        <span class="gzs"><b>586</b>人关注</span>
                        <span class="scs"><b>162</b>人收藏</span>
                        <span class="guanz">关注</span>
                    </div>
                    <div class="user-info">
                        1919年生于江苏宜兴，是20世纪现代中国绘画的代表画家，中国绘画艺术大师 。终生致力于油画民族化及中国画现代化之探索，坚韧不拔地实践着“油画民族、
                        “中国画现代化”的创作理念，形成了鲜明的艺术特色；他执着地守望着“在祖国、在故乡、在家园、在自己心底”的真切情感，表达了民族和大众的审美需求
                        他的作品具有很高的文化品格；国内外已出版画集约40余种，文集10余种。2010年6月25日23时57分，吴冠中先生因病医治无效，在北京医院逝世
                        享年91岁。
                    </div>
                </div>
            </div>
        </div>
        <div class="user-product">
            <div class="title">
                <span>作品展示</span>
            </div>
            <div class="cont clearfix">
                <ul>
                    <li>
                        <img class="zpimg" src="images/3.jpg" />
                        <h3><b>[<a href="#" class="leix">设计大赛</a>]</b>你是我无与伦比的美丽你是我无与伦比的美丽</h3>
                        <div class="hdbq"><span class="tota">投他一票</span><span class="tp">投票：<b>576</b></span></div>
                    </li>
                    <li>
                        <img class="zpimg" src="images/6.jpg" />
                        <h3><b>[<a href="#" class="leix">设计大赛</a>]</b>你是我无与伦比的美丽你是我无与伦比的美丽</h3>
                        <div class="hdbq"><span class="touta">已投票</span><span class="tp">投票：<b>576</b></span></div>
                    </li>
                    <li>
                        <img class="zpimg" src="images/6.jpg" />
                        <h3><b>[<a href="#" class="leix">设计大赛</a>]</b>你是我无与伦比的美丽你是我无与伦比的美丽</h3>
                        <div class="hdbq"><span class="touta">投他一票</span><span class="tp">投票：<b>576</b></span></div>
                    </li>
                    <li>
                        <img class="zpimg" src="images/6.jpg" />
                        <h3><b>[<a href="#" class="leix">设计大赛</a>]</b>你是我无与伦比的美丽你是我无与伦比的美丽</h3>
                        <div class="hdbq"><span class="touta">投他一票</span><span class="tp">投票：<b>576</b></span></div>
                    </li>
                    <li>
                        <img class="zpimg" src="images/6.jpg" />
                        <h3><b>[<a href="#" class="leix">设计大赛</a>]</b>你是我无与伦比的美丽你是我无与伦比的美丽</h3>
                        <div class="hdbq"><span class="touta">投他一票</span><span class="tp">投票：<b>576</b></span></div>
                    </li>
                    <li>
                        <img class="zpimg" src="images/6.jpg" />
                        <h3><b>[<a href="#" class="leix">设计大赛</a>]</b>你是我无与伦比的美丽你是我无与伦比的美丽</h3>
                        <div class="hdbq"><span class="touta">投他一票</span><span class="tp">投票：<b>576</b></span></div>
                    </li>
                    <li>
                        <img class="zpimg" src="images/6.jpg" />
                        <h3><b>[<a href="#" class="leix">设计大赛</a>]</b>你是我无与伦比的美丽你是我无与伦比的美丽</h3>
                        <div class="hdbq"><span class="touta">投他一票</span><span class="tp">投票：<b>576</b></span></div>
                    </li>
                    <li>
                        <img class="zpimg" src="images/6.jpg" />
                        <h3><b>[<a href="#" class="leix">设计大赛</a>]</b>你是我无与伦比的美丽你是我无与伦比的美丽</h3>
                        <div class="hdbq"><span class="touta">投他一票</span><span class="tp">投票：<b>576</b></span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% include ../include/foot %>
</body>
</html>
