<div class="personal-cont clearfix">
    <div class="per-tab"><span><a href="#" class="over">我的收藏</a></span></div>
    <div class="sc">
        <dl ng-repeat="collect in page.$array" >
            <dt>
                <b>{{ collect.isActive ? '活动' : '发现' }}</b>
                <a href="{{ collect.isActive ?  '/front/toActivetail/'+collect._id : '/front/toArtDetail/'+collect._id }}" target="_blank">
                    {{ collect.title }}</a>
            </dt>
            <dd>
                <span>发布时间<b>{{ collect.creatTime | date:'yyyy-MM-dd' }}</b></span>
                <span>阅读数<b>{{ collect.checkcounts   }}</b></span>
                <span ng-if="!collect.isActive">评论数<b>{{ collect.comments.length }}</b></span>
                <span>喜欢数<b>{{ collect.isActive ? collect.likes.length : collect.praiseCounts.length }}</b></span>
            </dd>
            <div class="delet"><a href="" ng-click="cancelCollect(collect);" >取消收藏</a></div>
        </dl>
    </div>

    <div class="page">
                        <span><a ng-show="page.$toLast"
                                 ng-click="page.$last();">上一页</a></span>
                        <span><a ng-show="page.$toNext"
                                 ng-click="page.$next();">下一页</a></span>
                        <span>
                            <a>{{ page.$curPage }}/{{ page.$pageCount }}</a>
                        </span>
        <span> <a>活动:{{ page.$totalPage }}</a></span>
    </div>

</div>
