<div class="personal-cont clearfix">
    <div class="per-tab"><span><a href="#" class="over">我的收藏</a></span></div>
    <div class="sc">
        <dl>
            <dt><b>发现</b><a href="#">贵州少数民族蜡染工艺贵州少数民族蜡染工艺贵州少数民族蜡染工艺</a></dt><dd><span>发布时间<b>2016-3-24</b></span><span>阅读数<b>589</b></span><span>评论数<b>589</b></span><span>喜欢数<b>589</b></span></dd>
            <div class="delet"><a href="#">取消收藏</a></div>
        </dl>
        <dl>
            <dt><b>创意人</b><a href="#">陈丹青——我的七张画</a></dt><dd><span>发布时间<b>2016-3-24</b></span><span>阅读数<b>589</b></span><span>评论数<b>589</b></span><span>喜欢数<b>589</b></span></dd>
            <div class="delet"><a href="#">取消收藏</a></div>
        </dl>
        <dl>
            <dt><b>活动</b><a href="#">尖荷系安徽大学平面设计活动</a></dt><dd><span>发布时间<b>2016-3-24</b></span><span>阅读数<b>589</b></span><span>评论数<b>589</b></span><span>喜欢数<b>589</b></span></dd>
            <div class="delet"><a href="#">取消收藏</a></div>
        </dl>
        <dl>
            <dt><b>发现</b><a href="#">贵州少数民族蜡染工艺贵州少数民族蜡染工艺贵州少数民族蜡染工艺</a></dt><dd><span>发布时间<b>2016-3-24</b></span><span>阅读数<b>589</b></span><span>评论数<b>589</b></span><span>喜欢数<b>589</b></span></dd>
            <div class="delet"><a href="#">取消收藏</a></div>
        </dl>
        <dl>
            <dt><b>发现</b><a href="#">贵州少数民族蜡染工艺贵州少数民族蜡染工艺贵州少数民族蜡染工艺</a></dt><dd><span>发布时间<b>2016-3-24</b></span><span>阅读数<b>589</b></span><span>评论数<b>589</b></span><span>喜欢数<b>589</b></span></dd>
            <div class="delet"><a href="#">取消收藏</a></div>
        </dl>
    </div>
    <div class="page"><span><a href="#">&lt;</a></span><span><a href="#">1</a></span><span><a href="#">2</a></span><span><a href="#">3</a></span><span><a href="#">4</a></span><span><a href="#">5</a></span><span><a href="#">&gt;</a></span></div>
</div>
