<style>
    .user-message .cz-gzico dd{
        opacity: 0;
    }
    .user-message .cz-gzico dd:hover{
        opacity: 1;
        transition: opacity 0.5s;
    }
</style>
<div class="personal-cont clearfix">
    <div class="per-tab">
        <span><a href="#/follow" class="over">我的粉丝（{{ follows.$totalPage }}）</a></span>
        <span><a href="#/attention">我的关注（{{ attentionCount }}）</a></span>
    </div>
    <div class="per-fans clearfix">
        <ul>

            <li ng-repeat="cus in follows.$array">
                <div class="user-portrat">
                    <a href="/front/toCusDetail/{{ cus._id }}" target="_blank">
                        <img class="zz" src="/front/resource/images/txzzzzz.png" />
                        <img ng-src="{{  cus.imgurl }}" />
                    </a>
                </div>
                <div class="user-message">
                    <dl class="cz-gzico">
                        <dt class="over"></dt>
                        <dd><a href="#/follow" ng-click="cancelFollows(cus)">移除粉丝</a></dd>
                    </dl>
                    <h3>{{  cus.realName || cus.name }}</h3>
                    <span ng-if="!cus.isConnect">已关注</span>
                    <span ng-if="cus.isConnect" class="xh">互相关注</span>
                    <p>{{  cus.cateName }}</p>
                    <p><b>{{  cus.followerCount }}</b>粉丝</p>
                    <p><b>{{  cus.productCount }}</b>件作品</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="page">
                        <span><a ng-show="follows.$toLast"
                                 ng-click="follows.$last();">上一页</a></span>
                        <span><a ng-show="follows.$toNext"
                                 ng-click="follows.$next();">下一页</a></span>
                        <span>
                            <a>{{ follows.$curPage }}/{{ follows.$pageCount }}</a>
                        </span>
        <span> <a>粉丝:{{ follows.$totalPage }}</a></span>
    </div>

</div>