<div class="personal-cont clearfix">
    <div class="per-tab">
        <span><a href="#" class="over">我的粉丝（2000）</a></span>
        <span><a href="#">我的关注（50）</a></span>
    </div>
    <div class="per-fans clearfix">
        <ul>
            <li>
                <div class="user-portrat">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img src="/front/resource/images/peo_1.jpg" />
                </div>
                <div class="user-message">
                    <dl class="cz-gzico">
                        <dt class="over"></dt>
                        <dd><a href="#">取消关注</a></dd>
                    </dl>
                    <h3>索德斯奈</h3>
                    <span>已关注</span>
                    <p>平面设计师</p>
                    <p><b>362</b>粉丝</p>
                    <p><b>456</b>件作品</p>
                </div>
            </li>
            <li>
                <div class="user-portrat">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img src="/front/resource/images/toux2.jpg" />
                </div>
                <div class="user-message">
                    <dl class="cz-gzico">
                        <dt></dt>
                    </dl>
                    <h3>索德斯奈</h3>
                    <span>已关注</span>
                    <p>平面设计师</p>
                    <p><b>362</b>粉丝</p>
                    <p><b>456</b>件作品</p>
                </div>
            </li>
            <li>
                <div class="user-portrat">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img src="/front/resource/images/toux1.jpg" />
                </div>
                <div class="user-message">
                    <dl class="cz-gzico">
                        <dt></dt>
                    </dl>
                    <h3>索德斯奈</h3>
                    <span class="xh">互相关注</span>
                    <p>平面设计师</p>
                    <p><b>362</b>粉丝</p>
                    <p><b>456</b>件作品</p>
                </div>
            </li>
            <li>
                <div class="user-portrat">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img src="/front/resource/images/userhead.jpg" />
                </div>
                <div class="user-message">
                    <dl class="cz-gzico">
                        <dt></dt>
                    </dl>
                    <h3>索德斯奈</h3>
                    <span>已关注</span>
                    <p>平面设计师</p>
                    <p><b>362</b>粉丝</p>
                    <p><b>456</b>件作品</p>
                </div>
            </li>
            <li>
                <div class="user-portrat">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img src="/front/resource/images/peo_1.jpg" />
                </div>
                <div class="user-message">
                    <dl class="cz-gzico">
                        <dt class="over"></dt>
                        <dd><a href="#">取消关注</a></dd>
                    </dl>
                    <h3>索德斯奈</h3>
                    <span>已关注</span>
                    <p>平面设计师</p>
                    <p><b>362</b>粉丝</p>
                    <p><b>456</b>件作品</p>
                </div>
            </li>
            <li>
                <div class="user-portrat">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img src="/front/resource/images/toux2.jpg" />
                </div>
                <div class="user-message">
                    <dl class="cz-gzico">
                        <dt></dt>
                    </dl>
                    <h3>索德斯奈</h3>
                    <span>已关注</span>
                    <p>平面设计师</p>
                    <p><b>362</b>粉丝</p>
                    <p><b>456</b>件作品</p>
                </div>
            </li>
            <li>
                <div class="user-portrat">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img src="/front/resource/images/toux1.jpg" />
                </div>
                <div class="user-message">
                    <dl class="cz-gzico">
                        <dt></dt>
                    </dl>
                    <h3>索德斯奈</h3>
                    <span class="xh">互相关注</span>
                    <p>平面设计师</p>
                    <p><b>362</b>粉丝</p>
                    <p><b>456</b>件作品</p>
                </div>
            </li>
            <li>
                <div class="user-portrat">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img src="/front/resource/images/userhead.jpg" />
                </div>
                <div class="user-message">
                    <dl class="cz-gzico">
                        <dt></dt>
                    </dl>
                    <h3>索德斯奈</h3>
                    <span>已关注</span>
                    <p>平面设计师</p>
                    <p><b>362</b>粉丝</p>
                    <p><b>456</b>件作品</p>
                </div>
            </li>
            <li>
                <div class="user-portrat">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img src="/front/resource/images/peo_1.jpg" />
                </div>
                <div class="user-message">
                    <dl class="cz-gzico">
                        <dt class="over"></dt>
                        <dd><a href="#">取消关注</a></dd>
                    </dl>
                    <h3>索德斯奈</h3>
                    <span>已关注</span>
                    <p>平面设计师</p>
                    <p><b>362</b>粉丝</p>
                    <p><b>456</b>件作品</p>
                </div>
            </li>
            <li>
                <div class="user-portrat">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img src="/front/resource/images/toux2.jpg" />
                </div>
                <div class="user-message">
                    <dl class="cz-gzico">
                        <dt></dt>
                    </dl>
                    <h3>索德斯奈</h3>
                    <span>已关注</span>
                    <p>平面设计师</p>
                    <p><b>362</b>粉丝</p>
                    <p><b>456</b>件作品</p>
                </div>
            </li>
            <li>
                <div class="user-portrat">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img src="/front/resource/images/toux1.jpg" />
                </div>
                <div class="user-message">
                    <dl class="cz-gzico">
                        <dt></dt>
                    </dl>
                    <h3>索德斯奈</h3>
                    <span class="xh">互相关注</span>
                    <p>平面设计师</p>
                    <p><b>362</b>粉丝</p>
                    <p><b>456</b>件作品</p>
                </div>
            </li>
            <li>
                <div class="user-portrat">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img src="/front/resource/images/userhead.jpg" />
                </div>
                <div class="user-message">
                    <dl class="cz-gzico">
                        <dt></dt>
                    </dl>
                    <h3>索德斯奈</h3>
                    <span>已关注</span>
                    <p>平面设计师</p>
                    <p><b>362</b>粉丝</p>
                    <p><b>456</b>件作品</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="page"><span><a href="#">&lt;</a></span><span><a href="#">1</a></span><span><a href="#">2</a></span><span><a href="#">3</a></span><span><a href="#">4</a></span><span><a href="#">5</a></span><span><a href="#">&gt;</a></span></div>
</div>