<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人中心</title>
    <% include ../include/baseLink.ejs %>
    <link rel="stylesheet" type="text/css" href="/front/resource/css/user.css"/>
    <script type="text/javascript" src="/front/dist/user_center.js"></script>
    <style>
    </style>
</head>
<body>
<%  var user = $session.USER %>
<div class="wap clearfix">
    <div class="on-1200">
        <div class="personal-head">
            <div class="per-hd">
                <div class="per-hd-img">
                    <a href="#"><img src="/front/resource/images/per-tx.jpg" /></a>
                </div>
                <div class="per-hd-name"><%- user.name %></div>
                <div class="per-hd-jop"><%- user.job.cateName %></div>
                <div class="per-hd-hd">
                    <span class="fans">粉丝<b><%- user.followers.length %></b>人</span><br />
                    <span class="shouc">收藏<b>65</b>人</span>
                </div>
            </div>
        </div>
        <div class="personal-nav">
            <ul>
                <li><a href="#/work">作品</a></li>
                <li><a href="#/" class="over">活动</a></li>
                <li><a href="#/collect">收藏</a></li>
                <li><a href="#">评论</a></li>
            </ul>
        </div>
        <div>
            <div ng-view></div>
        </div>
    </div>
</div>
<% include ../include/head.ejs %>
</body>
</html>
