<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人中心</title>
    <% include ../include/baseLink.ejs %>
    <link rel="stylesheet" type="text/css" href="/front/resource/css/user.css"/>
    <link rel="stylesheet" type="text/css" href="/front/resource/css/ng-animation.css"/>
    <style>
    </style>
</head>
<body ng-controller="main">
<%  var user = $session.USER %>
<div class="wap clearfix">
    <div class="on-1200" style="width: 1230px;">
        <div class="personal-head">
            <div class="per-hd">
                <div class="per-hd-img">
                    <a href="#"><img src="/front/resource/images/per-tx.jpg" /></a>
                </div>
                <div class="per-hd-name"><%- user.name %></div>
                <div class="per-hd-jop"><%- user.job.cateName %></div>
                <div class="per-hd-hd">
                    <span class="fans">粉丝<b><%- user.followers.length %></b>人</span><br />
                    <span class="shouc">收藏<b>65</b>人</span>
                </div>
            </div>
        </div>
        <div class="personal-nav">
            <ul>
                <li><a href="#/work"  ng-class="getOver(1)"   ng-click="overFlag=1;" >作品</a></li>
                <li><a href="#/active" ng-class="getOver(2)"  ng-click="overFlag=2;" >活动</a></li>
                <li><a href="#/collect" ng-class="getOver(3)" ng-click="overFlag=3;" >收藏</a></li>
                <li><a href="#/attention" ng-class="getOver(4)" ng-click="overFlag=4;">关注</a></li>
            </ul>
        </div>
        <div class="personal-cont">
            <div class="ui-view-container">
                <div ui-view  ng-class="'animation scale-fade slide-right'"></div>
            </div>
        </div>
    </div>
</div>
<% include ../include/head.ejs %>
</body>
<script type="text/javascript">
    GLOBAL_USER_INFO = {
        "_id":"<%- $session.USER._id %>"
    }
</script>
<script type="text/javascript" src="/front/dist/user_center.js"></script>
</html>
