<div class="personal-cont clearfix">
    <ul class="work clearfix">
        <li>
            <div class="margin20">
                <img class="workimg" src="/front/resource/images/4.jpg" />
                <h3><a href="#">谁说我回不到过去，时间会给我答案</a></h3>
                <div class="adr"><a href="#">《最强设计‘身边的最美的艺术》</a></div>
                <div class="cz"><span class="votes rt">投票数<b>256</b>票</span><span class="date lt">上传时间：2016-3-24</span></div>
            </div>
        </li>
        <li>
            <div class="margin20">
                <img class="workimg" src="/front/resource/images/3.jpg" />
                <h3><a href="#">生命的意义，在身边寻求</a></h3>
                <div class="adr"><a href="#">《最强设计‘身边的最美的艺术》</a></div>
                <div class="cz"><span class="votes rt">投票数<b>256</b>票</span><span class="date lt">上传时间：2016-3-24</span></div>
            </div>
        </li>
        <li>
            <div class="margin20">
                <img class="workimg" src="/front/resource/images/2.jpg" />
                <h3><a href="#">谁说我回不到过去，时间会给我答案</a></h3>
                <div class="adr"><a href="#">《最强设计‘身边的最美的艺术》</a></div>
                <div class="cz"><span class="votes rt">投票数<b>256</b>票</span><span class="date lt">上传时间：2016-3-24</span></div>
            </div>
        </li>
        <li>
            <div class="margin20">
                <img class="workimg" src="/front/resource/images/6.jpg" />
                <h3><a href="#">谁说我回不到过去，时间会给我答案</a></h3>
                <div class="adr"><a href="#">《最强设计‘身边的最美的艺术》</a></div>
                <div class="cz"><span class="votes rt">投票数<b>256</b>票</span><span class="date lt">上传时间：2016-3-24</span></div>
            </div>
        </li><li>
        <div class="margin20">
            <img class="workimg" src="/front/resource/images/4.jpg" />
            <h3><a href="#">谁说我回不到过去，时间会给我答案</a></h3>
            <div class="adr"><a href="#">《最强设计‘身边的最美的艺术》</a></div>
            <div class="cz"><span class="votes rt">投票数<b>256</b>票</span><span class="date lt">上传时间：2016-3-24</span></div>
        </div>
    </li>
        <li>
            <div class="margin20">
                <img class="workimg" src="/front/resource/images/4.jpg" />
                <h3><a href="#">谁说我回不到过去，时间会给我答案</a></h3>
                <div class="adr"><a href="#">《最强设计‘身边的最美的艺术》</a></div>
                <div class="cz"><span class="votes rt">投票数<b>256</b>票</span><span class="date lt">上传时间：2016-3-24</span></div>
            </div>
        </li>
        <li>
            <div class="margin20">
                <img class="workimg" src="/front/resource/images/4.jpg" />
                <h3><a href="#">谁说我回不到过去，时间会给我答案</a></h3>
                <div class="adr"><a href="#">《最强设计‘身边的最美的艺术》</a></div>
                <div class="cz"><span class="votes rt">投票数<b>256</b>票</span><span class="date lt">上传时间：2016-3-24</span></div>
            </div>
        </li>
        <li>
            <div class="margin20">
                <img class="workimg" src="/front/resource/images/4.jpg" />
                <h3><a href="#">谁说我回不到过去，时间会给我答案</a></h3>
                <div class="adr"><a href="#">《最强设计‘身边的最美的艺术》</a></div>
                <div class="cz"><span class="votes rt">投票数<b>256</b>票</span><span class="date lt">上传时间：2016-3-24</span></div>
            </div>
        </li>
    </ul>
    <div class="page"><span><a href="#">&lt;</a></span><span><a href="#">1</a></span><span><a href="#">2</a></span><span><a href="#">3</a></span><span><a href="#">4</a></span><span><a href="#">5</a></span><span><a href="#">&gt;</a></span></div>
</div>

