<div class="user-product">
    <div class="title">
        <span>作品展示</span>
    </div>
    <div class="hdwork clearfix">
        <ul>
            <li  ng-class="'scale-fade'"
                 ng-repeat="work in works.$array">
                <dl class="showOverPic">
                    <dd
                            ng-repeat="pic in work.fileUrls"
                            data-sub-html="{{ pic.name }}"
                            data-src="{{pic.url}}"
                            ng-show="!$index>0"
                            >
                        <a href=""><img class="zpimg"  ng-src="{{pic.url}}" /></a>
                    </dd>
                </dl>
                <h3>{{work.fileUrls[0].name}}</h3>
                <div class="hdbq">
                    <span class="see">浏览：<b>{{ work.checkcounts }}</b></span>
                    <span class="tp">投票：<b>{{ work.votes.length }}</b></span>
                    <span class="date lt">上传时间：{{ work.creatTime | date:'yyyy-MM-dd' }}</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="page">
                        <span><a ng-show="works.$last"
                                 ng-click="works.$toLast();">上一页</a></span>
                        <span><a ng-show="works.$next"
                                 ng-click="works.$toNext();">下一页</a></span>
                        <span>
                            <a>{{ works.$curPage }}/{{ works.$pageCount }}</a>
                        </span>
        <span> <a>作品:{{ works.$totalSize }}</a></span>
    </div>
</div>
