@charset "utf-8";
/* CSS Document */
/* 2016.3.4  索德斯奈 */
/*公共样式*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;}
li{ list-style:none;}
a{ text-decoration:none;}
* html .clearfix {height:1%;}
html[xmlns] .clearfix {display:block;}
.clearfix:after {content:"";display:block;	height:0;clear:both;visibility:hidden;}
.clear, .divider {clear:both;}
.lt{ display:inline; float:left;}
.rt{ display:inline; float:right;}
body{background:#f0f1f1;}
/**/
.head{width:100%; position:fixed; top:0px;margin:0 auto; z-index:999;border:0px;box-shadow: 0px 2px 2px #e9e9e9;}
.ht100{height:100px;}
.logo{ float:left;}
.nav{ float:left;}
.nav ul{margin-left:25px;}
.nav ul li{ float:left; line-height:68px;margin:0 25px;}
.nav ul li a{ font-size:16px; font-family:microsoft yahei;color:#333;}
.nav ul li.li_3{ position:relative;}
.nav ul li.li_3 .li_3_content{ position:absolute; z-index:999;}
.menu{height: 70px;
    /*background: url(../images/menu_bg_1.gif) no-repeat 0 10px;*/
    z-index: 100;
    background-position: 0px 100%;
    right: 0;
    padding-right: 1px;}
.nav ul li dl{background:#fff;width:90px;left:-28px;border-top:3px solid #d0b896;padding-bottom:10px;padding-top:10px;border-radius:0 0 5px 5px; display:none;}
.nav ul li dl span{ font-size:12px;}
.nav ul li dl dd{ text-align:center;}
.nav ul li dl dd a{height:30px; line-height:30px; display:block;}
.nav ul li dl dd a:hover{background:#d0b896;color:#fff;}
.search{ float:right; position:relative;padding-top:17px;margin-right:40px;}
.search span{ float:left;}
.search span input.txt{width:195px;height:32px;padding:0 30px 0 8px;font-size:12px; line-height:32px;color:#999;border:1px solid #e1e1e1;border-radius:3px;}
.search span input.but{border:0px;width:30px;height:32px; position:absolute; z-index:2;right:0px;background:url(../images/sec_r.jpg) 0 1px no-repeat;}
.hedlogin{ float:right;padding-top:18px;}
.hedlogin a{color:#666;padding:0 3px;}
/*发现*/
.m1{margin-top:8px;}
.ind2_title{height:65px; line-height:65px; font-size:16px;color:#333;font-family:microsoft yahei;}
.ind2_title span.dtle{ float:left;margin-left:15px;}
.ind2_title span.bytle{ float:left; font-size:12px;margin-left:13px;color:#a8a8a8;padding-top:2px;height:60px;}
.ind2_title a{ float:right; font-size:10px;color:#999;margin-right:15px;}
.m1fximg{width:100%;border-radius:5px 5px 0 0;width: 284px;height: 240px;}
.m1a .list{min-height:330px;background:#fff;border-radius:5px;margin-bottom:20px; position:relative; overflow:hidden; }
.m1a .list p.title{ font-size:14px;height:45px; line-height:45px; text-align:left;padding:0 15px; overflow:hidden;border-bottom:1px solid #f8f8f8;}
.m1a .list p.title a{color:#333; font-family:microsoft yahei;}
.m1a .list .oter{font-size:12px;height:45px; line-height:45px; text-align:left;margin:0 15px; overflow:hidden;color:#888;}
.m1a .list .oter span.gnumb{background:url(../images/gnumb.jpg) no-repeat;padding-left:20px;}
.m1a .list .oter span.pjnumb{background:url(../images/pjnumb.jpg) no-repeat;padding-left:20px;margin-left:15px;}
.fszz{width:100%;height:118px; position:absolute;top:-118px; z-index:1;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}
.fszz1{width:120px;height:35px; position:absolute;top:-118px; z-index:2;border:1px solid #e1e1e1;border-radius:3px;margin:0 auto; line-height:35px;color:#fff; text-align:center;left:80px; font-size:12px; font-family:"microaoft yahei";}
.fszz1:hover{color:#fff; text-decoration:none;}
.txtwap{width:100%;height:133px; position:absolute;top:118px; z-index:3; overflow:hidden;}
.txthover{width:100%;height:133px; position:absolute;top:133px;padding:14px;background:#fff;border-bottom:1px solid #f8f8f8; font-size:14px;color:#999; font-family:SimSun;border-bottom:1px solid #f4f4f4;/* display:none;*/}


.activlist{min-height:720px;background:#fff;border-radius:3px;}
.ind3_title{height:60px; line-height:60px; font-size:16px;color:#333;font-family:microsoft yahei;}
.ind3_title span.dtle{ float:left;margin-left:20px;}
.ind3_title span.bytle{ float:left; font-size:12px;margin-left:13px;color:#a8a8a8;padding-top:2px;height:60px;}
.ind3_title a{ float:right; font-size:10px;color:#999;margin-right:20px; font-family:Arial, Helvetica, sans-serif;}
.activlist .actlst{border-bottom:1px dashed #f4f4f4;margin:0 20px;padding:13px 0;}
.activlist .actlst:hover .actxt .title a{color:#c59860; font-weight:bold;}
.activlist .actlst:last-of-type{border:0px;}
.actimg{margin:0 5px;}

.actimg img{border-radius:3px;width:100%;}
.actxt{margin:0 12px;font-family:microsoft yahei;}
.actxt .title{font-size:16px;padding-top:12px;}
.actxt .title a{color:#333; font-size:16px;}
.actxt .scon{font-size:13px;color:#999;padding-top:12px; line-height:22px;height:104px; overflow:hidden;font-family:SimSun;}
.actxt .stis{ font-size:14px;}
.actxt .stis .addr,.actxt .stis .date{padding-left:18px;margin:5px 0;}
.actxt .stis .addr{color:#c1c1c1;background:url(../images/addr_1.jpg) 0 3px no-repeat;font-family:SimSun;}
.actxt .stis .date{color:#e3c197;background:url(../images/date_1.jpg) 0 3px no-repeat;font-family:SimSun;}

.peopel{min-height:720px;background:#fff;border-radius:3px;}
.peopel .peolist{margin:0 28px;border-bottom:1px solid #f4f4f4;padding:18px 0;}
.peopel .peolist:last-of-type{border:0px;}
.peopel .peoimg{ position:relative;}
.peopel .peoimg img{}
.peopel .peoimg .zhezhao{ position:absolute; z-index:2;}
.peopel .name{padding:18px 0;padding-left:10px; font-family:"microsoft yahei";}
.peopel .name a{color:#333; font-size:14px;}
.peopel .cntre{ font-size:12px;color:#d0b896;padding-left:10px;padding-bottom:5px;}
.peopel .guoji{ font-size:12px;color:#d0b896;padding-left:10px;}
/*首页产品*/
.listduct{background:#fff;border-radius:5px;margin-bottom:20px;}
.listduct:hover{background:#e3c197;}
.listduct a img{width:100%;border-radius:5px 5px 0 0;}
.listduct p{height:56px;backgorund:#fff; line-height:56px; text-align:center;color:#999;}
.listduct:hover p{color:#fff;}
.listduct{ position:relative;}
.listduct .duct_zz{position:absolute;width:100%;height:215px; overflow:hidden;}
.listduct .duct_zz .balck_zz{width:100%;height:215px;background:#000;border-radius:5px 5px 0 0 ; position:absolute;top:215px;filter:alpha(opacity=50); 
-moz-opacity:0.5; 
opacity:0.5;}
.listduct .duct_zz .over{ position:absolute; z-index:2;color:#fff;}
/*创品列表页*/
.projects{padding-bottom:25px;}
.scp_title{height:65px; line-height:65px; font-size:16px;color:#333;font-family:microsoft yahei;margin-top:20px;}
.scp_title span.dtle{ float:left;}
.scp_title span.bytle{ float:left; font-size:12px;margin-left:13px;color:#a8a8a8;padding-top:2px;height:60px;}

.sm1 .list{background:#fff;border-radius:5px;margin-bottom:20px;
    box-shadow: 3px 3px 0px 0px #efefef;
    -webkit-box-shadow: 3px 3px 0px 0px #efefef;
    -moz-box-shadow: 3px 3px 0px 0px #efefef;}
.sm1 .list .oter{height: 45px;line-height: 45px;text-align: left;padding: 0 15px;overflow: hidden;border-bottom: 1px solid #f8f8f8;}
.sm1 .list .oter span.cprice{ float:left; color:#ff4400; font-size:16px; font-weight:bold; font-family:"microsoft yahei";}
.sm1 .list .oter span.name{ float:right; font-size:12px;color:#666;}
.sm1 .list .title{font-size: 14px;
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding: 0 15px;
    overflow: hidden;font-family:"microsoft yahei";}
.sm1 .list .title a{color:#666; font-size:12px;}
.sm1 .list .title a:hover{ text-decoration:none;}
/*clickmore*/
.clickmore{ text-align:center;margin:15px 0;}
.clickmore a{padding:5px 20px; display:inline-block;border:1px solid #e1e1e1;border-radius:50px;color:#333; font-size:14px;}
.clickmore a:hover{ text-decoration:none; font-weight:bold;}
/*foot*/
.foot{width:100%;height:220px;background:#fff; text-align:center;padding-top:20px;}

.decr{position:absolute;z-index:9999;top:0px; display:block;}
.prelt{background:url(../images/banleft.png) center right no-repeat;position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;}
.nxtrt{background:url(../images/banright.png) center left no-repeat;position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;}
/*创意人列表页*/
.cyraro{}
.cyraro .txtshar{width:417px; font-family:"microsoft yahei";}
.cyraro .txtshar .lif span.name{ font-size:16px; font-weight:bold;padding-top:1px;color:#4c4c4c;}
.cyraro .txtshar .lif span.jop{ font-size:12px;background:#e3c197;color:#fff;padding:2px 6px;border-radius:2px;margin-left:15px;}
.cyraro .txtshar .lif span.guanz{ float:right; font-size:12px;color:#999;border:1px solid #ececec;padding:2px 10px;border-radius:3px; cursor:pointer;}
.cyraro .txtshar .lif span.guanz:hover{background:#e3c197;color:#fff;border:0px;padding:3px 11px;}
.cyraro .txtshar .lis{margin:8px 0 10px 0;}
.cyraro .txtshar .lis span{ font-size:12px;}
.cyraro .txtshar .lis span b{color:#e3c197;padding:0 5px;}
.cyraro .txtshar .lis span.like b{}
.cyraro .txtshar .lis span.work{margin-left:12px;}
.cyraro .txtshar .lit{ font-size:12px;color:#666;height:55px; overflow:hidden; line-height:20px;}
.cryworks{overflow:hidden;margin:0 13px;border-top:1px dashed #f7f7f7;}
.cryworks li img{border-radius:3px;}
.cryworks ul{padding:12px 0;width:568px;}
.cryworks ul li{ float:left;margin-right:14px;}
/* 返回顶部 */
.cbbfixed {position: fixed;right: 10px;transition: bottom ease .3s;bottom: -85px;z-index: 3;cursor:pointer;}
.cbbfixed .cbbtn {width: 40px;height: 40px;display: block;background-color: #d0b896;}
.cbbfixed .gotop {transition: background-color ease .3s;margin-top: 1px;}
.cbbfixed .gotop .up-icon{float:left;margin:14px 0 0 9px;width:23px;height:12px;background: url(../images/side-icon02.png);}
.cbbfixed .gotop:hover {background-color:#2c2d2e;}
.cbbfixed .cweixin {background: #dadbdd;}
.cbbfixed .cweixin div {background: url(../images/erwei.png);width: 194px;height: 199px;position: absolute;left: -194px;top: -115px;opacity: 0;transform: scale(0);    -webkit-transform: scale(0);transform-origin: 100% 70%;-webkit-transform-origin: 100% 70%;transition: transform ease .3s,opacity ease .3s;-webkit-transition: all ease .3s;display:none\0;*display:none;}
.cbbfixed .cweixin:hover div {display: block;transform: scale(1);-webkit-transform: scale(1);opacity: 1;*display:block;}
.cbbfixed .cweixin .weixin-icon{float: left;margin:12px 0 0 11px;width:18px;height: 18px; background: url(../images/side-icon01.png);}

@media screen and (max-width:992px){.search{ display:none;}}
@media screen and (max-width:768px){.hedlogin{ display:none;}.foot img{width:100%;}}
@media screen and (max-width:588px){
	.logo{width:100%; text-align:center;border-bottom:1px solid #ececec;padding:15px 0;}
	.nav{width:100%;}
	.nav ul{padding:0px;}
	.nav ul li{width:25%;margin:0; text-align:center; line-height:57px;}
	.modal-header{margin:0;padding:0px;}
	.container{padding:0px;}
	.decr{ display:none;}
	}