@charset "utf-8";
/* CSS Document */
/* 2016.3.4  索德斯奈 */
/*公共样式*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;}
li{ list-style:none;}
a{ text-decoration:none;}
* html .clearfix {height:1%;}
html[xmlns] .clearfix {display:block;}
.clearfix:after {content:"";display:block;	height:0;clear:both;visibility:hidden;}
.clear, .divider {clear:both;}
.lt{ display:inline; float:left;}
.rt{ display:inline; float:right;}
body{background:#f0f1f1;}
.wap{width:1200px;margin:0 auto;margin-top:24px;margin-bottom:24px;}
.on-900{width:900px;border-radius:5px;}
.on-285{width:285px;}
.on-1200{width:1200px;}
/**/
.head{width:100%; position:fixed; top:0px;margin:0 auto; z-index:999;border:0px;box-shadow: 0px 2px 2px #e9e9e9;background:#fff;padding:10px 0;}
.ht100{height:100px;}
.logo{ float:left;}
.nav{ float:left;}
.nav ul{margin-left:25px;}
.nav ul li{ float:left; line-height:68px;margin:0 25px;}
.nav ul li a{ font-size:16px; font-family:microsoft yahei;color:#333;}
.nav ul li.li_3{ position:relative;}
.nav ul li.li_3 .li_3_content{ position:absolute; z-index:999;}
.menu{height: 70px;
    /*background: url(../images/menu_bg_1.gif) no-repeat 0 10px;*/
    z-index: 100;
    background-position: 0px 100%;
    right: 0;
    padding-right: 1px;}
.nav ul li dl{background:#fff;width:90px;left:-28px;border-top:3px solid #d0b896;padding-bottom:10px;padding-top:10px;border-radius:0 0 5px 5px; display:none;}
.nav ul li dl span{ font-size:12px;}
.nav ul li dl dd{ text-align:center;}
.nav ul li dl dd a{height:30px; line-height:30px; display:block;}
.nav ul li dl dd a:hover{background:#d0b896;color:#fff;}
.search{ float:right; position:relative;padding-top:17px;margin-right:40px;}
.search span{ float:left;}
.search span input.txt{width:195px;height:32px;padding:0 30px 0 8px;font-size:12px; line-height:32px;color:#999;border:1px solid #e1e1e1;border-radius:3px;}
.search span input.but{border:0px;width:30px;height:32px; position:absolute; z-index:2;right:0px;background:url(../images/sec_r.jpg) 0 1px no-repeat;}
.hedlogin{ float:right;padding-top:18px; font-family:"microsoft yahei";}
.hedlogin a{color:#666;padding:0 3px;}
/*发现*/
.m1{margin-top:8px;}
.ind2_title{height:65px; line-height:65px; font-size:16px;color:#333;font-family:microsoft yahei;}
.ind2_title span.dtle{ float:left;margin-left:15px;}
.ind2_title span.bytle{ float:left; font-size:12px;margin-left:13px;color:#a8a8a8;padding-top:2px;height:60px;}
.ind2_title a{ float:right; font-size:10px;color:#999;margin-right:15px;}
.m1fximg{width:100%;border-radius:5px 5px 0 0;width: 284px;height: 240px;}
.m1a .list{min-height:330px;background:#fff;border-radius:5px;margin-bottom:20px; position:relative; overflow:hidden; }
.m1a .list p.title{ font-size:14px;height:45px; line-height:45px; text-align:left;padding:0 15px; overflow:hidden;border-bottom:1px solid #f8f8f8;}
.m1a .list p.title a{color:#333; font-family:microsoft yahei;}
.m1a .list .oter{font-size:12px;height:45px; line-height:45px; text-align:left;margin:0 15px; overflow:hidden;color:#888;}
.m1a .list .oter span.gnumb{background:url(../images/gnumb.jpg) no-repeat;padding-left:20px;}
.m1a .list .oter span.pjnumb{background:url(../images/pjnumb.jpg) no-repeat;padding-left:20px;margin-left:15px;}
.fszz{width:100%;height:118px; position:absolute;top:-118px; z-index:1;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}
.fszz1{width:120px;height:35px; position:absolute;top:-118px; z-index:2;border:1px solid #e1e1e1;border-radius:3px;margin:0 auto; line-height:35px;color:#fff; text-align:center;left:80px; font-size:12px; font-family:"microaoft yahei";}
.fszz1:hover{color:#fff; text-decoration:none;}
.txtwap{width:100%;height:133px; position:absolute;top:118px; z-index:3; overflow:hidden;}
.txthover{width:100%;height:133px; position:absolute;top:133px;padding:14px;background:#fff;border-bottom:1px solid #f8f8f8; font-size:14px;color:#999; font-family:SimSun;border-bottom:1px solid #f4f4f4;/* display:none;*/}


.activlist{min-height:720px;background:#fff;border-radius:3px;}
.ind3_title{height:60px; line-height:60px; font-size:16px;color:#333;font-family:microsoft yahei;}
.ind3_title span.dtle{ float:left;margin-left:20px;}
.ind3_title span.bytle{ float:left; font-size:12px;margin-left:13px;color:#a8a8a8;padding-top:2px;height:60px;}
.ind3_title a{ float:right; font-size:10px;color:#999;margin-right:20px; font-family:Arial, Helvetica, sans-serif;}
.activlist .actlst{border-bottom:1px dashed #f4f4f4;margin:0 20px;padding:13px 0;}
.activlist .actlst:hover .actxt .title a{color:#c59860; font-weight:bold;}
.activlist .actlst:last-of-type{border:0px;}
.actimg{margin:0 5px;}

.actimg img{border-radius:3px;width:100%;}
.actxt{margin:0 12px;font-family:microsoft yahei;}
.actxt .title{font-size:16px;padding-top:12px;}
.actxt .title a{color:#333; font-size:16px;}
.actxt .scon{font-size:13px;color:#999;padding-top:12px; line-height:22px;height:104px; overflow:hidden;}
.actxt .stis{ font-size:14px;}
.actxt .stis .addr,.actxt .stis .date{padding-left:18px;margin:5px 0;}
.actxt .stis .addr{color:#c1c1c1;background:url(../images/addr_1.jpg) 0 3px no-repeat;}
.actxt .stis .date{color:#e3c197;background:url(../images/date_1.jpg) 0 3px no-repeat;}

.peopel{min-height:720px;background:#fff;border-radius:3px;}
.peopel .peolist{margin:0 28px;border-bottom:1px solid #f4f4f4;padding:18px 0;}
.peopel .peolist:last-of-type{border:0px;}
.peopel .peoimg{ position:relative;}
.peopel .peoimg img{}
.peopel .peoimg .zhezhao{ position:absolute; z-index:2;}
.peopel .name{padding:18px 0;padding-left:10px; font-family:"microsoft yahei";}
.peopel .name a{color:#333; font-size:14px;}
.peopel .cntre{ font-size:12px;color:#d0b896;padding-left:10px;padding-bottom:5px;}
.peopel .guoji{ font-size:12px;color:#d0b896;padding-left:10px;}
/*首页产品*/
.listduct{background:#fff;border-radius:5px;margin-bottom:20px;}
.listduct:hover{background:#e3c197;}
.listduct a img{width:100%;border-radius:5px 5px 0 0;}
.listduct p{height:56px;backgorund:#fff; line-height:56px; text-align:center;color:#999; font-family:"microsoft yahei";}
.listduct:hover p{color:#fff;}
.listduct{ position:relative;}
.listduct .duct_zz{position:absolute;width:100%;height:215px; overflow:hidden;}
.listduct .duct_zz .balck_zz{width:100%;height:215px;background:#000;border-radius:5px 5px 0 0 ; position:absolute;top:215px;filter:alpha(opacity=50); 
-moz-opacity:0.5; 
opacity:0.5;}
.listduct .duct_zz .over{ position:absolute; z-index:2;color:#fff;}
/*创品列表页*/
.projects{padding-bottom:25px;}
.scp_title{height:65px; line-height:65px; font-size:16px;color:#333;font-family:microsoft yahei;margin-top:20px;}
.scp_title span.dtle{ float:left;}
.scp_title span.bytle{ float:left; font-size:12px;margin-left:13px;color:#a8a8a8;padding-top:2px;height:60px;}

.sm1 .list{background:#fff;border-radius:5px;margin-bottom:20px;
    box-shadow: 3px 3px 0px 0px #efefef;
    -webkit-box-shadow: 3px 3px 0px 0px #efefef;
    -moz-box-shadow: 3px 3px 0px 0px #efefef;}
.sm1 .list .oter{height: 45px;line-height: 45px;text-align: left;padding: 0 15px;overflow: hidden;border-bottom: 1px solid #f8f8f8;}
.sm1 .list .oter span.cprice{ float:left; color:#ff4400; font-size:16px; font-weight:bold; font-family:"microsoft yahei";}
.sm1 .list .oter span.name{ float:right; font-size:12px;color:#666;}
.sm1 .list .title{font-size: 14px;
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding: 0 15px;
    overflow: hidden;font-family:"microsoft yahei";}
.sm1 .list .title a{color:#666; font-size:12px;}
.sm1 .list .title a:hover{ text-decoration:none;}
/*clickmore*/
.clickmore{ text-align:center;margin:15px 0;}
.clickmore a{padding:5px 20px; display:inline-block;border:1px solid #e1e1e1;border-radius:50px;color:#333; font-size:14px;}
.clickmore a:hover{ text-decoration:none; font-weight:bold;}
/*foot*/
.foot{width:100%;height:220px;background:#fff; text-align:center;padding-top:20px;}

.decr{position:absolute;z-index:9999;top:0px; display:block;}
.prelt{background:url(../images/banleft.png) center right no-repeat;position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;}
.nxtrt{background:url(../images/banright.png) center left no-repeat;position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;}
/*创意人列表页*/
.cyraro{}
.cyraro .txtshar{width:417px; font-family:"microsoft yahei";}
.cyraro .txtshar .lif span.name{ font-size:16px; font-weight:bold;padding-top:1px;color:#4c4c4c;}
.cyraro .txtshar .lif span.jop{ font-size:12px;background:#e3c197;color:#fff;padding:2px 6px;border-radius:2px;margin-left:15px;}
.cyraro .txtshar .lif span.guanz{ float:right; font-size:12px;color:#999;border:1px solid #ececec;padding:2px 10px;border-radius:3px; cursor:pointer;}
.cyraro .txtshar .lif span.guanz:hover{background:#e3c197;color:#fff;border:0px;padding:3px 11px;}
.cyraro .txtshar .lis{margin:8px 0 10px 0;}
.cyraro .txtshar .lis span{ font-size:12px;}
.cyraro .txtshar .lis span b{color:#e3c197;padding:0 5px;}
.cyraro .txtshar .lis span.like b{}
.cyraro .txtshar .lis span.work{margin-left:12px;}
.cyraro .txtshar .lit{ font-size:12px;color:#666;height:55px; overflow:hidden; line-height:20px;}
.cryworks{overflow:hidden;margin:0 13px;border-top:1px dashed #f7f7f7;}
.cryworks li img{border-radius:3px;}
.cryworks ul{padding:12px 0;width:568px;}
.cryworks ul li{ float:left;margin-right:14px;}
/*活动列表页*/
.sacivs .list{background:#fff;padding:12px 16px;border-radius:5px; font-family:"microsoft yahei";margin-bottom:16px;}
.sacivs .list .huodongimg{width:536px;height:295px;border-radius:3px;}
.sacivs .list .sacimg{}
.sacivs .sacrt{padding:0 15px;width:612px;}
.sacivs .sacrt .rtf{height:35px;padding-top:12px;}
.sacivs .sacrt .rtf b,.sacivs .sacrt .rtf span.title{ float:left; display:inline;}
.sacivs .sacrt .rtf span.title{ font-size:14px;width:428px;height:20px; display:block;margin-left:12px; font-weight:bold; overflow:hidden;}
.sacivs .sacrt .rtf span.title a{color:#666;}
.sacivs .sacrt .rtf b{background:#ff685f; font-weight:normal;color:#fff; font-size:12px;padding:3px 8px;border-radius:3px;}
.sacivs .sacrt .rtf b.end{background:#b5b5b5;}
.sacivs .sacrt .rtf b.fur{background:#ff9600;}
.sacivs .sacrt .rtf span.es{ float:left; font-size:12px;color:#bababa;}
.sacivs .sacrt .rts{ font-size:13px; line-height:22px;padding-top:12px;color:#737373;height:202px;}
.sacivs .sacrt .rtt .lt{padding-top:3px;}
.sacivs .sacrt .rtt p{font-size:14px;padding-left:16px;padding-top:5px;}
.sacivs .sacrt .rtt p.addr{color:#c1c1c1;background:url(../images/addr_1.jpg) 0 9px no-repeat;}
.sacivs .sacrt .rtt p.date{color:#e3c197;background:url(../images/dates.jpg) 0 10px no-repeat;}
.sacivs .sacrt .baom{ text-align:center;}
.sacivs .sacrt .baom span{color:#b3b3b3; font-size:12px;}
.sacivs .sacrt .baom span b{color:#e3c197; font-size:14px;}
.sacivs .sacrt .baom a.iwant{padding:3px 12px; display:block;color:#e3c197;border:1px solid #e3c197;border-radius:3px;margin-top:5px; font-size:13px;}
/*something new*/
.bgff{background:#fff;}
.smthing{background:#fff;border-radius:5px;padding:24px;}
.smthing .title{height:86px;border-bottom:1px solid #f7f7f7;}
.smthing .title h3{ font-family:"microsoft yahei"; font-weight:bold; font-size:23px;color:##4d4d4d;}
.smthing .title .tabs{padding-top:18px; font-size:12px;}
.smthing .title .tabs a{padding:2px 9px; display:inline-block;border:1px solid #ececec;color:#cccccc;border-radius:3px;margin-right:10px;}
.smthing .title .tabs a:hover,.smthing .title .tabs a.over{ text-decoration:none;background:#d0b896;color:#fff;border:0px;padding:2px 10px;}
.smthing .title .tabs span.txtfrom,.smthing .title span{color:#999;margin-left:10px; font-size:12px;}
.smthing .title .thingshar{background:url(../images/shar_1.jpg) no-repeat right top;text-align:right;padding-right:40px; cursor:pointer; line-height:32px;margin-top:16px; /*color:#3e3e3e;*/color:#999;font-size:12px;}
.smthing .cont{padding:18px 0; overflow:hidden;}
.smthing .likes{border-top:1px solid #f7f7f7; text-align:center;padding-top:26px;}
.smthing .likes span{padding:0 24px; display:inline-block;}
.smthing .likes a{cursor:pointer;}
.smthing .likes span p{font-size:12px; color:#999;padding-top:10px;padding-right:2px;}
.smthing .title .tabs span.leix a{border:0px;color:#d0b896;}
.smthing .title .tabs span.leix a:hover{background:none;color:#d0b896;padding:2px 9px; text-decoration:underline;}

/*comment*/
.comment{border-radius:5px;background:#fff;margin-top:22px;}
.shuruk{margin:0 24px;padding:24px 0;border-bottom:1px solid #f7f7f7;}
.shuruk textarea{ resize:none;width:100%;border-radius:5px;border:1px solid #ececec;height:115px;padding:10px; font-size:12px; color:#666; line-height:20px;}
.rukb{ font-size:12px;color:#999;padding-top:17px; text-align:right;}
.rukb b{color:#ffc000;}
.rukb span{padding-left:10px;}
.rukb span.subt input{width:85px;height:28px;border-radius:3px;border:0px;background:#f7ae11;color:#fff;}
.rukb span.subt input:hover{background:#febe34;}
.comment .list{margin:0 24px;padding:24px 0; font-family:"microsoft yahei"; position:relative;border-bottom:1px solid #f7f7f7;}
.portrait{ position:relative;width:70px;height:70px; float:left;}
.portrait .zz{ position:absolute; z-index:2;}
.portrait .tx{ position:absolute;}
.comment .list .midle{margin-left:33px;width:745px;min-height:70px;}
.comment .list .midle .username{ font-size:14px; line-height:30px;}
.comment .list .midle .username a{color:#333;}
.comment .list .midle .det{ font-size:12px;color:#777; line-height:20px;}
.comment .list .other{ font-size:12px;color:#c5c5c5; position:absolute;right:0;top:26px;}
.comment .list .other span{padding-left:5px;}
.comment .list .other b{color:#ceb48f;}

/*seclist*/
.seclist{margin-left:102px;font-size:12px;border-top:1px dashed #f7f7f7; float:left; display:inline;padding-top:16px; position:relative;padding-bottom:16px;}
.comment .list .seclist:last-child{padding-bottom:0px;}
.seclist .userpor{width:44px;height:44px; float:left;}
.seclist .userpor img{ position:absolute;}
.seclist .userpor img.t1{ z-index:2;}
.seclist .mid{width:685px;margin-left:20px; float:left; display:inline;}
.seclist .mid h7{color:#666; line-height:23px;}
.seclist .mid .nr{color:#999;}
.seclist .date{ position:absolute;right:0;top:20px;color:#c5c5c5;}
.seclist .date a{color:#ceb48f;}
.seclist .date span{padding-left:5px;}

.seclist .huifu{width:685px;margin-left:64px; float:left; display:inline;}
.seclist .huifu h7{color:#666; line-height:23px;}
.seclist .huifu .nr{color:#999;padding-top:10px;}
.seclist .huifu .nr textarea{width:605px;border:1px solid #ececec;border-radius:3px;height:50px; resize:none;}
.seclist .huifu button{background:#ceb48f;border:0px;color:#fff;width:50px;height:22px;border-radius:3px;margin-top:10px;}

.clikemore{height:138px; text-align:center;padding-top:50px;}
.clikemore span{width:130px;height:35px; display:block; line-height:35px;border:1px solid #e4e3e3;background:#f7f7f7;color:#747474; font-size:13px; border-radius:5px;margin:0 auto; cursor:pointer;}
.clikemore span:hover{background:#f2f1f1;}
/*recod*/
.recod{border-radius:5px;background:#fff; text-align:center;padding:18px 0;}
.recod .lia img{width:247px;height:320px;border-radius:5px;}
.recod .lia p{ line-height:45px;}
.recod .lia p a{color:#666;}

/*活动详情*/
.hdtop{padding:24px;background:#fff;border-radius:5px;font-family:"microsoft yahei";}
.hdtop .hdimg,.hdtop .hdimg img{width:340px;height:187px;}
.hdtop .mid h3{ font-weight:bold; font-size:22px;color:#4d4d4d;padding-bottom:20px;}
.hdtop .mid p{ line-height:22px; font-size:14px;color:#666;}
.hdtop .mid{margin-left:24px;}
.hdtop .mid .bq{padding-top:48px;}
.hdtop .mid .bq a{padding:3px 10px; display:inline-block;border-radius:3px; font-size:12px;color:#888;margin-right:9px;background:#b6b6b6;color:#fff;}
.hdtop .mid .bq a:hover{background:#e0c097;border:0px;color:#fff; text-decoration:none;}
.lisk{ font-size:12px;color:#999;padding-top:9px;}
.lisk span{margin-right:9px;}
.lisk span.likes b,.lisk span.shar b{color:#e0c097;}
.xx .llcs{ font-size:12px; color:#999;}
.xx .baom{ text-align:center;padding-top:111px;}
.xx .baom span{color:#b3b3b3; font-size:12px;}
.xx .baom span b{color:#e3c197; font-size:14px;}
.xx .baom a.iwant{padding:4px 13px; display:block;color:#fff;background:#e0c097;border-radius:3px;margin-top:5px; font-size:12px;}

.seclist .mid12{width:986px;margin-left:20px; float:left; display:inline;}
.seclist .mid12 h7{color:#666; line-height:23px;}
.seclist .mid12 .nr{color:#999;}
.fujian{padding:24px;border-top:1px solid #f7f7f7;}
/*hdcon*/
.hdcon{background:#fff;border-radius:5px;margin-top:17px; font-family:"microsoft yahei";padding-bottom:24px;}
.hdcon .title{border-bottom:1px solid #f7f7f7;height:40px;}
.hdcon .title span{padding:10px 20px; display:inline-block;cursor:pointer; font-size:14px;color:#666;}
.hdcon .title span.over{background:#e0c097;color:#fff;}
.hdcon .title span.tab1{border-radius:5px 0 0 0;}
.hdcon .title span.tab2{border-right:1px solid #f7f7f7;}
.hdcon .title span:hover{}
.hdcon .cont{overflow:hidden;}
#hdtab2,#hdtab3{ display:none;}
.hotop{padding:24px;padding-bottom:18px;border-bottom:1px solid #f7f7f7;}
.hotop span.tle{ font-family:"microsoft yahei"; font-size:18px; font-weight:bold;color:#4d4d4d;}
.hotop span.works{ font-size:12px; line-height:42px;padding-left:14px;color:#666;}
.hotop span.works b{padding-left:5px;color:#e0c097;}
.hotop span.px a{ font-size:12px; line-height:42px;margin:0 6px;color:#666;}
.contb .page{ text-align:center;margin:20px 0;}
.contb .page span a{padding:4px 10px;border:1px solid #f7f7f7; display:inline-block;color:#999;border-radius:3px; font-size:12px;margin:0 3px;}
.hdwork{}
.hdwork ul{width:110%; font-family:"microsoft yahei";}
.hdwork ul li{width:300px;height:320px;background:#fff; float:left;padding:24px;border-bottom:1px solid #f7f7f7;border-right:1px solid #f7f7f7;}
.hdwork ul li .zpimg{width:250px;height:211px;border-radius:5px;}
.hdwork ul li h3 { font-size:14px;color:#4d4d4d; line-height:35px;padding-top:10px;}
.hdwork ul li .hdbq{}
.hdwork ul li .hdbq span{ font-size:12px;color:#999;padding-right:15px;}
.hdwork ul li .hdbq span b{color:#e0c097;}/*
.hdwork ul li .hdbq span.zz{background:url(../images/tx.jpg) 0 1px no-repeat;padding-left:19px;}
.hdwork ul li .hdbq span.see{background:url(../images/gnumb.jpg) 0 3px no-repeat;padding-left:24px;}
.hdwork ul li .hdbq span.tp{background:url(../images/tp.jpg) no-repeat;padding-left:24px;}*/
.contb .likes,.contc .likes{border-top:1px solid #f7f7f7; text-align:center;padding-top:26px;}
.contb .likes span,.contc .likes span{padding:0 24px; display:inline-block;}
.contb .likes a,.contc .likes a{cursor:pointer;}
.contb .likes span p,.contc .likes span p{font-size:12px; color:#999;padding-top:10px;padding-right:2px;}
.contc .nrs,.cont .nrs{margin:24px; overflow:hidden;}
/*创意人*/
.user-top{background:#fff;border-radius:5px;}
.top-wap{padding:24px; min-height:248px;}
.user-head{ position:relative;}
.user-head img.zz{ position:absolute; z-index:2;}
.user-head img.tx{ position:absolute; width:199px;height:199px;}
.user-mid{margin-left:225px; font-family:"microsoft yahei";padding-top:15px;}
.user-mid span.name{ font-weight:bold; font-size:24px;}
.user-info{padding:24px 0; color:#666; line-height:22px;}
.user-mid-top span.jop{font-size: 12px;
    background: #e3c197;
    color: #fff;
    padding: 2px 6px;
    border-radius: 2px;
    margin-left: 15px;}
.user-mid-top span.addres{ font-size:14px;margin-left:14px;}
.user-mid-top span.guanz{ float:right;}
.user-mid-top span.addres,.user-mid-top span.gzs,.user-mid-top span.scs{color:#666; font-size:12px;margin-left:10px;}
.user-mid-top span b{color:#e3c197;padding-right:4px;}
.user-mid-top span.guanz{    float: right;
    font-size: 12px;
    color: #999;
    border: 1px solid #ececec;
    padding: 2px 10px;
    border-radius: 3px;
    cursor: pointer;}
.user-mid-top span.guanz:hover{background:#e3c197;color:#fff;border:0px;padding:3px 11px;}
.page{ text-align:center;padding:30px 0;}
.page span a{padding:4px 10px;border:1px solid #f7f7f7; display:inline-block;color:#999;border-radius:3px; font-size:12px;margin:0 3px;}
/*user-product*/
.user-product{background:#fff;border-radius:5px;min-height:300px;margin-top:24px;}
.user-product .title{height:40px;border-bottom:1px solid #f7f7f7;}
.user-product .title span{    padding: 10px 20px;
    display:block;
    cursor: pointer;
    font-size: 14px;
    color: #333; font-family:"microsoft yahei";border-right:1px solid #f7f7f7; float:left; font-weight:bold;}
.user-product .title span.tab1{border-radius:5px 0 0 0;}
.user-product .title span.over{background:#e3c197;color:#fff;}
.user-product{}
.user-product .cont{padding-bottom:5px; display:none;}
.user-product .cont ul{width:110%; font-family:"microsoft yahei";}
.user-product .cont ul li{width:300px;height:368px;background:#fff; float:left;padding:24px;border-bottom:1px solid #f7f7f7;border-right:1px solid #f7f7f7;}
.user-product .cont ul li .zpimg{width:250px;height:211px;border-radius:5px;}
.user-product .cont ul li h3 { font-size:14px;color:#4d4d4d; line-height:22px;padding-top:10px;height:37px; overflow:hidden;}
.user-product .cont ul li .price{padding-top:10px;color:#ff4400; font-size:16px;}
.user-product .cont ul li .price b{}
.user-product .cont ul li .hdbq{}
.user-product .cont ul li .hdbq span{ font-size:12px;color:#999;padding-right:15px;}
.user-product .cont ul li .hdbq span b a,.user-product .cont ul li .hdbq span b{color:#e0c097;}
.user-product .cont .likes,.contc .likes{border-top:1px solid #f7f7f7; text-align:center;padding-top:26px;}
.user-product .cont .likes span,.contc .likes span{padding:0 24px; display:inline-block;}
.user-product .cont .likes a,.contc .likes a{cursor:pointer;}
.user-product .cont .likes span p,.contc .likes span p{font-size:12px; color:#999;padding-top:10px;padding-right:2px;}
.touta,.tota{margin-top:10px;}
.user-product .cont li .hdbq span.touta{font-size:12px;padding:3px 8px; display:inline-block;border:1px solid #ececec;border-radius:3px;cursor:pointer;margin-right:10px;}
.user-product .cont li .hdbq span.tota{font-size:12px;padding:4px 9px; display:inline-block;border-radius:3px;cursor:pointer;margin-right:10px;background:#e0c097;color:#fff;}
.user-product .cont li h3 b{color:#999;}
.user-product .cont li a.leix{color:#e0c097;margin:0 3px; font-size:12px;}
.user-product .cont .shar{ font-size:12px;color:#999;padding-top:15px;}
.user-product .cont .shar a{margin-right:10px;}
/*事*/
.contfx{ overflow:hidden;}
.contfx ul{width:100%;margin-bottom:0px;}
.contfx ul li{width:600px;height:290px; float:left;border-right:1px solid #f7f7f7;border-bottom:1px solid #f7f7f7;}
.contfx li.fali img{width:270px;border-radius:5px;height:241px;}
.contfx li.fali .imgs{ float:left;padding:24px;}
.contfx li.fali:hover .imgs img{ filter:alpha(opacity=50);  
      -moz-opacity:0.8;  
      -khtml-opacity: 0.8;  
      opacity: 0.8;  }
.contfx li.fali h3{ font-size:14px; font-family:"microsoft yahei"; line-height:40px;padding-top:20px; font-weight:bold;}
.contfx li.fali h3 a{color:#333;}
.contfx li.fali .shilt{width:262px;}
.contfx li.fali .info{ font-size:12px;color:#999; line-height:22px;height:180px; overflow:hidden;}
.contfx li.fali .lks{}
.contfx li.fali .lks span{color:#999; font-size:12px;margin-right:15px;}
.contfx li.fali .lks span.read{background:url(../images/gnumb.jpg) 0 1px no-repeat;padding-left:25px;}
.contfx li.fali .lks span.like{background:url(../images/like.jpg) 0 2px no-repeat;padding-left:20px;}
.contfx li.fali .lks span.pl{background:url(../images/pjnumb.jpg) 0 1px no-repeat;padding-left:20px;}
/* 返回顶部 */
.cbbfixed {position: fixed;right: 10px;transition: bottom ease .3s;bottom: -85px;z-index: 3;cursor:pointer;}
.cbbfixed .cbbtn {width: 40px;height: 40px;display: block;background-color: #d0b896;}
.cbbfixed .gotop {transition: background-color ease .3s;margin-top: 1px;}
.cbbfixed .gotop .up-icon{float:left;margin:14px 0 0 9px;width:23px;height:12px;background: url(../images/side-icon02.png);}
.cbbfixed .gotop:hover {background-color:#2c2d2e;}
.cbbfixed .cweixin {background: #dadbdd;}
.cbbfixed .cweixin div {background: url(../images/erwei.png);width: 194px;height: 199px;position: absolute;left: -194px;top: -115px;opacity: 0;transform: scale(0);    -webkit-transform: scale(0);transform-origin: 100% 70%;-webkit-transform-origin: 100% 70%;transition: transform ease .3s,opacity ease .3s;-webkit-transition: all ease .3s;display:none\0;*display:none;}
.cbbfixed .cweixin:hover div {display: block;transform: scale(1);-webkit-transform: scale(1);opacity: 1;*display:block;}
.cbbfixed .cweixin .weixin-icon{float: left;margin:12px 0 0 11px;width:18px;height: 18px; background: url(../images/side-icon01.png);}

@media screen and (max-width:992px){.search{ display:none;}}
@media screen and (max-width:768px){.hedlogin{ display:none;}.foot img{width:100%;}}
@media screen and (max-width:588px){
	.logo{width:100%; text-align:center;border-bottom:1px solid #ececec;padding:15px 0;}
	.nav{width:100%;}
	.nav ul{padding:0px;}
	.nav ul li{width:25%;margin:0; text-align:center; line-height:57px;}
	.modal-header{margin:0;padding:0px;}
	.container{padding:0px;}
	.decr{ display:none;}
	}