<aside class="lt_aside_nav content mCustomScrollbar">
    <h2><a href="/back/include/main_demo.html" target="contentframe">demo页</a></h2>
    <ul class="sub-menus">
        <li>
            <dl>
                <dt class="subparent">用户信息</dt>
                <!--当前链接则添加class:active-->
                <dd><a href="/back/toCusDeal"  target="contentframe" class="active">用户列表</a></dd>
                <dd><a href="#">商品分类</a></dd>
                <dd><a href="#">商品属性</a></dd>
                <dd><a href="#">品牌管理</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="subparent">订单信息</dt>
                <dd><a href="#">订单列表</a></dd>
                <dd><a href="#">添加订单</a></dd>
                <dd><a href="#">缺货登记</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="subparent">会员管理</dt>
                <dd><a href="#">会员列表</a></dd>
                <dd><a href="#">添加会员</a></dd>
                <dd><a href="#">会员等级</a></dd>
                <dd><a href="#">资金管理</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="subparent">基础设置</dt>
                <dd><a href="#">站点基础设置</a></dd>
                <dd><a href="#">SEO设置</a></dd>
                <dd><a href="#">SQL语句查询</a></dd>
                <dd><a href="#">模板管理</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="subparent">营销管理</dt>
                <dd><a href="#">订阅列表</a></dd>
                <dd><a href="#">邮件群发</a></dd>
                <dd><a href="#">优惠打折</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="subparent">配送与支付设置</dt>
                <dd><a href="#">配送方式</a></dd>
                <dd><a href="#">支付方式</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="subparent">在线统计</dt>
                <dd><a href="#">流量统计</a></dd>
                <dd><a href="#">销售额统计</a></dd>
            </dl>
        </li>
    </ul>
</aside>